[2018-01-04 21:57] msach22 opened #10 "Scrolling Native Video Element on Android"
The Cordova OpenTok plugin uses the native OpenTok SDKs and places native iOS and Android views for the Publisher and Subscriber on top of a WebView. On Android, when you scroll on the WebView, the native video element does not and the video is stuck in its initial position.

[2018-01-08 10:55] martyzz1 opened #11 "Android 8 View layering seems to be inversed"
Any help you can give would be appreciated. I have a fix in my fork, but it makes no sense whatsoever, and I therefore think its a hack...

https://stackoverflow.com/questions/48148816/android-8-26-view-z-index-performs-differently-to-25

[2018-01-10 18:17] mfossel opened #12 "Problem Building with Ionic Package"
Hello, thank you for this plugin but I am having a problem building with Ionic. We are using Ionic Pro and whenever we try to build for Androidwith Ionic Package we get an error on this plugin.

`Failed to restore plugin "com.tokbox.cordova.opentok" from config.xml. You might need to try adding it again. Error: Failed to fetch plugin https://github.com/opentok/cordova-plugin-opentok via registry.

[2018-01-10 18:32] msach22 commented on #12
@mfossel Hmm, I have not been able to replicate this error, although I've only tested it with Ionic 2. Is the following how you're adding the plugin?
`ionic cordova plugin add https://github.com/opentok/cordova-plugin-opentok/`

Could you try cloning https://github.com/opentok/opentok-ionic-samples and seeing if that works for you?

[2018-01-10 18:51] mfossel commented on #12
Yes, that is how I installed it.

We are using Ionic 2. Trying to build with Ionic Pro Package when we get the error.

This is in my config.xml
  `  <plugin name="com.tokbox.cordova.opentok" spec="https://github.com/opentok/cordova-plugin-opentok" />`

this is in my package.json
`    "Cordova-Plugin-OpenTok": "git+https://github.com/opentok/cordova-plugin-opentok.git"`

Ionic seems to have some pr

[2018-01-10 19:14] mfossel commented on #12
Hey, just got it working. I changed my config.xml from
`<plugin name="com.tokbox.cordova.opentok" spec="https://github.com/opentok/cordova-plugin-opentok" />`
to
`<plugin name="com.tokbox.cordova.opentok" spec="https://github.com/msach22/cordova-plugin-opentok" />`

after looking through your example and my build succeeded.

[2018-01-10 19:27] msach22 commented on #12
@mfossel To clarify, you were able to download this plugin (under opentok) after you changed the plugin spec to the plugin hosted under my personal account?

[2018-01-10 19:30] mfossel commented on #12
Yes, Ionic Package was able to download and build after I switched it. For some reason it was not able to fetch the plugin from the opentok host.

[2018-01-10 19:36] #12 closed

[2018-01-13 00:42] iisdan opened #13 "Can't start broadcast with back facing camera"
## Expected Behavior
Start a new broadcast with the back facing camera.

## Actual Behavior
Live stream starts with front facing camera. I have checked openTok.js and the property is being set, only ignored.

## Steps to Reproduce the Problem

  1. Set cameraName  in publisher options to `var publisherOptions = { cameraName: 'back' };`
  2. Init Publisher `OT.initPublisher('publisher', publisherOp

[2018-01-23 09:07] LokeshPatel opened #14 "Why use - (void)logOT function."
Hello,
I need more details of logOT function,  this is use in both platform iOS and Android.
Call API : https://hlg.tokbox.com/prod/logging/ClientEvent for send details , params
like : platform, cp_version , action , partner_id , build , source , payload_type, payload, session_id

iOS : - (void)logOT;
Android : -   public void logOT();

I tried to find in details on Tokbox doc but not getting prop

[2018-01-23 20:45] msach22 commented on #14
@LokeshPatel The `logOT` method is used to log the initSession activity. This allows us to track the usage and debug. We also use this as one of the metrics when we discuss if we plan to support Cordova or not. Having said that, if you were to remove the logging method, the plugin should still work as expected.

[2018-01-23 20:45] #14 closed

[2018-01-24 11:43] LokeshPatel opened #15 "How to get call history and calling time duration."
Hi,
Could you please help me or suggest me. How to get calling duration after video calling end.
streamDestroyed return below details but not have call end time or total call duration.
streamDestroyed  return response :
{"reason":"clientDisconnected","details":{"connectionId":"A9D69333-C41E-46DB-8A4F-29BC93C57332","creationTime":"Wed Jan 24 17:05:17 GMT+05:30 2018","fps":-999,"hasAudio":true,"hasV

[2018-01-24 23:05] msach22 commented on #15
@LokeshPatel The `streamDestroyed` event does not contain information on what time the stream was destroyed. To get call duration, I recommend you storing the time your user subscribed and comparing it against when your user unsubscribes. Alternatively, you can set up session monitoring through your TokBox account and receive real-time session event callbacks and monitor your session activity from

[2018-01-24 23:05] #15 closed

[2018-01-29 11:09] mark-veenstra opened #17 "Loading opentokjs when platform is browser"
Browser is also a platform that could be used on Cordova. Wouldn't it be a good idea to add the opentokjs when platform is browser?

[2018-01-29 11:18] mark-veenstra commented on #17
Like this: https://github.com/aoberoi/cordova-plugin-opentokjs/blob/master/plugin.xml

[2018-02-02 15:43] philipjbrowning opened #19 "Unsubscribe Code Missing for Android"
An android user cannot unsubscribe from a publisher's video. The code portion is incomplete. I can propose a fix.

[code]

[2018-02-03 00:15] msach22 commented on #13
@iisdan thanks for pointing this out. Fixed here: https://github.com/opentok/cordova-plugin-opentok/pull/18

[2018-02-04 06:53] #13 closed

[2018-02-05 09:55] mark-veenstra opened #22 "Unpublish code is missing for Android"
Current SDK call to unpublish from session is missing in Android.

[code]

[2018-02-05 15:33] mark-veenstra opened #23 "getPosition is wrong and takes too much margins and the wrong HTML code is removed from view for the publisher"
The `getPosition()` within `OTHelpers.coffee`  and the `unpublish` in `OTSession.coffee` are not aware of the `insertMode` of the publisher as described in the JS SDK:
https://tokbox.com/developer/sdks/js/reference/OT.html#initPublisher

To get things working for `insertMode` equals `append` the `getPosition()` should be:
[code]

And the `unpublish` in `OTSession.coffee` should be :
[code]

[2018-02-05 15:50] msach22 commented on #23
@mark-veenstra Are you trying to use `insertMode` for the browser or a native device? If you're using it for the browser platform, please use the following SDK: https://static.opentok.com/v2/js/opentok.min.js

This JS wrapper should not be used as a replacement for the JS SDK.

[2018-02-05 15:59] mark-veenstra commented on #23
@msach22 We are using the plugin for iOS and Android. And also we use this plugin with the browser builds. We added the possibility to load the correct SDK as follows:
https://github.com/opentok/cordova-plugin-opentok/pull/21/files

But I think even if we do not include the JS SDK in the plugin we still need the append mode instead of replace mode. For example:
- Connect to first session, start pu

[2018-02-05 19:32] mark-veenstra commented on #23
My earlier description is a bit off. The plugin does nothing with the insertMode. But it does append the publisher HTML code to the provided container. But when the unpublish method is called. It removes the parent container instead of only the injected publisher HTML code.

Also the getPosition takes the margins from the container and keeps them intact but also applies it to the element itself.
A

[2018-02-08 09:53] ljr-gloversure opened #26 "sessionConnected event not passing connection info"
If you want a successful video chat experience, you'll likely need to grab **your** connection id to make sure you don't send signals to yourself etc. Unless you know a better/preferred way of getting your own connection id I would suggest adding this functionality to the 'sessionConnected' function in opentok.js

Something like this works
[code]

Currently nothing is returned on the sessionConnec

[2018-02-09 08:09] mark-veenstra commented on #10
@msach22 Do you have a bit of an idea what should be done here to get this fixed? Maybe if you point us into a direction we can take a look and send a PR.

[2018-02-09 16:09] mark-veenstra opened #27 "Possibility to load Native Video behind the webview"
It would be nice to be able to place the native camera's in front of or behind the webview based on the given `z-index`. Because if we could place the native video elements behind the webview we could also place HTML buttons on top of the video.

We have been successfull in placing the video behind the WebView with the Android and iOS , see branch:
https://github.com/Mediapioniers/cordova-plugin-o

[2018-02-13 07:45] mark-veenstra commented on #27
Hmm maybe it would be even better to have the placement of video's based on the `z-index` of the CSS instead of an extra preferences. Something like this iOS solution and then for bot Android and iOS:
https://github.com/BasqueVoIPMafia/cordova-plugin-iosrtc/pull/98

[2018-02-16 11:44] mark-veenstra commented on #27
updated comment, both Android and iOS is done.

[2018-02-16 12:14] mark-veenstra opened #30 "Not all event listeners are implemented"
There are a few event listeners missing in the plugin, like:
* streamPropertyChanged (Session)

We will send a PR with the missing events implemented.

[2018-02-16 13:17] wolfenrain commented on #30
## Session
iOS:
- [OTSessionDelegate](https://tokbox.com/developer/sdks/ios/reference/Protocols/OTSessionDelegate.html)

Android:
- [ArchiveListener](https://tokbox.com/developer/sdks/android/reference/com/opentok/android/Session.ArchiveListener.html)
- [SessionListener](https://tokbox.com/developer/sdks/android/reference/com/opentok/android/Session.SessionListener.html)
-  [ConnectionListener](ht

[2018-02-16 13:44] wolfenrain commented on #30
## Publisher
iOS:
- [OTPublisherDelegate](https://tokbox.com/developer/sdks/ios/reference/Protocols/OTPublisherDelegate.html)
- [OTPublisherKitAudioLevelDelegate](https://tokbox.com/developer/sdks/ios/reference/Protocols/OTPublisherKitAudioLevelDelegate.html)
- [OTPublisherKitDelegate](https://tokbox.com/developer/sdks/ios/reference/Protocols/OTPublisherKitDelegate.html)

Android:
- [AudioLevelLis

[2018-02-16 14:26] wolfenrain commented on #30
## Subscriber
iOS:
- [OTSubscriberKitAudioLevelDelegate](https://tokbox.com/developer/sdks/ios/reference/Protocols/OTSubscriberKitAudioLevelDelegate.html)
- [OTSubscriberDelegate](https://tokbox.com/developer/sdks/ios/reference/Protocols/OTSubscriberDelegate.html)
- [OTSubscriberKitDelegate](https://tokbox.com/developer/sdks/ios/reference/Protocols/OTSubscriberKitDelegate.html)

Android:
- [AudioL

[2018-02-16 14:42] mark-veenstra opened #31 "Enabling iOS background mode (audio-only)"
As describe in the TokBox documentation: https://tokbox.com/developer/sdks/ios/background-state.html
It is possible to have an audio session only when put into background.
We tested this be first adding the correct background mode to the plugin.xml and that should be enough already.

When the banckground mode is set to audio it is enough for switching to audio only. Will send a PR in a sec.

[2018-02-16 21:57] msach22 commented on #10
Fixed by: https://github.com/opentok/cordova-plugin-opentok/pull/28

[2018-02-16 21:57] #10 closed

[2018-02-17 13:42] mark-veenstra commented on #27
@msach22 Also the scrolling keeps working on both iOS and Android as is. But now with the possibility to place camera's and webviews on different Z layer positions, being able to create "fancier" interfaces.

[2018-02-18 05:18] msach22 commented on #17
Solved by https://github.com/opentok/cordova-plugin-opentok/pull/21

[2018-02-18 05:18] #17 closed

[2018-02-19 19:24] msach22 commented on #23
closed by https://github.com/opentok/cordova-plugin-opentok/pull/24

[2018-02-19 19:24] #23 closed

[2018-02-20 13:46] mark-veenstra commented on #26
According to the `SessionConnectedEvent` documentation these values are deprecated in the JS SDK, so it does not seem likely to add this in the plugin:
https://tokbox.com/developer/sdks/js/reference/SessionConnectEvent.html

[2018-02-20 14:01] ljr-gloversure commented on #26
`
Deprecated in version 2.2 (and set to an empty array). In version 2.2, listen for the connectionCreated event dispatched by the Session object. In version 2.2, the Session object dispatches a connectionCreated event for each connection (including your own). This includes connections present when you first connect to the session.
`

I see, I guess using the connectionCreated event will require yo

[2018-02-20 14:01] #26 closed

[2018-02-20 14:51] mark-veenstra opened #33 "Plugin fails to install on cordova >7"
`user@user-laptop:~/Documenten/Projects/open-tok-poc$ cordova plugin add https://github.com/opentok/cordova-plugin-opentok --save`

[code]

[2018-02-20 18:14] Giannmit opened #36 "Ionic DevApp Error"
Not sure if this belongs here or opentok-ionic-samples

Check it out:
https://github.com/opentok/opentok-ionic-samples/issues/8

Thanks for your help!

[2018-02-20 18:36] mark-veenstra commented on #36
@Giannmit You should add the plugin and use it like @msach22 comments on that issue.

[2018-02-20 18:54] msach22 commented on #19
fixed PR: #24

[2018-02-20 18:54] #19 closed

[2018-02-20 18:54] msach22 commented on #22
fixed PR: #24

[2018-02-20 18:54] #22 closed

[2018-02-20 18:55] msach22 commented on #36
@Giannmit closing b/c this is not an issue. please add the cordova plugin to your project

[2018-02-20 18:55] #36 closed

[2018-02-21 08:12] mark-veenstra opened #37 "(iOS) Add required camera and microphone usage description through plugin"
For iOS everyone needs to add a description to get the application published into the App Store, as stated [here](https://github.com/opentok/opentok-cordova-samples#camera--microphone-permissions). So everyone has to add:
[code]
to the `plist` file. We could also adjust the `plugin.xml` to do this automatically for every user, like so:
[code]

[2018-02-21 16:55] msach22 commented on #33
@mark-veenstra so I just added the plugin on Cordova 7 and I did not get this error. Are you getting this error consistently?

[2018-02-21 17:50] msach22 commented on #31
closed by: #32

[2018-02-21 17:50] #31 closed

[2018-02-22 08:12] mark-veenstra commented on #33
@msach22 Well I did had the same error multiple times. But I found out that within the project itself (not plugin) the `package-lock..json` is the main reason why it is failing. Not sure why yet, but I have to remove it when I upgrade from `cordova@6.5.0` to `cordova@8.0.0`.

So the main error is the `package-lock.json`. But still the package name in the `package.json` should be the same as the pl

[2018-02-22 08:23] mark-veenstra opened #39 "Change initPublisher() to be able to send a string or an element like the JS SDK"
Within the JS SDK the `initPublisher()` can have a `targetElement` parameter, [which is described as](https://tokbox.com/developer/sdks/js/reference/OT.html#initPublisher):
[code]
Within this plugin it is only possible (as of now) to send a `string` cotaining the `id` of the `<div>`.

We will send a PR that will allow both as described in the documentation. Because we also need this feature at thi

[2018-02-22 16:05] msach22 commented on #37
Fixed by: #38

[2018-02-22 16:05] #37 closed

[2018-02-22 16:12] msach22 commented on #27
Added with #29

[2018-02-22 16:12] #27 closed

[2018-02-23 08:48] gameFace22 opened #40 "Multiple Access Origins"
Hi,

We are using cordova-plugin-opentok in one of our projects. And we have an requirement to set the access origin to only *.example.com.
But, while building the application, access-origin is also set to * (there are 2 access origins in our's application's config.xml)
We are assuming it is caused by the opentok plugin from [here](https://github.com/songz/cordova-plugin-opentok/blob/master/plugin

[2018-02-23 13:46] mark-veenstra commented on #40
@msach22: I think it is possible to remove the line `<access origin="*" />` from `plugin.xml`, because of the following reasons:
- At the moment it is only added to the platform ios, so android also does not have this access origin
- According to the [docs](https://cordova.apache.org/docs/en/latest/guide/appdev/whitelist/) the default is allow all origins. So leaving it out does the same.
- If we

[2018-02-23 14:09] gameFace22 commented on #40
@mark-veenstra Thank you so much for clarifying.

Currently, I can see that the [plugin.xml](https://github.com/songz/cordova-plugin-opentok/blob/master/plugin.xml) has ```<access origin>``` set to ```*```
Should that be replaced with ```<access origin="https://*.tokbox.com" />``` and ```<access origin="https://*.opentok.com" />``` and ```<access origin="wss://*.tokbox.com" />```

Would be more th

[2018-02-23 14:17] mark-veenstra commented on #40
@gameFace22 I think best for now is to remove the access origin from the plugin.xml, since it is also not set for Android. You can remove it and test what happens.

[2018-02-23 14:29] gameFace22 commented on #40
Awesome.
Thank you. Will update you in case something breaks.

[2018-02-23 14:30] gameFace22 commented on #40
Awesome. Thank you!

[2018-02-23 14:31] #40 closed

[2018-02-23 15:11] mark-veenstra opened #43 "Respect the insertMode() as described in the JS docs"
At the moment the `insertMode` is always replace. Creating a different DOM between the plugin and the JS SDK if you are NOT using replace as `insertMode`.
Best is to have the same DOM in all situations.

[2018-02-23 15:12] mark-veenstra commented on #43
https://tokbox.com/developer/sdks/js/reference/OT.html#initPublisher

[2018-02-23 21:31] msach22 commented on #33
fixed in: #34

[2018-02-23 21:31] #33 closed

[2018-02-26 09:16] mark-veenstra opened #45 "The subscriber functions `subscribeToAudio()` and `subscribeToVideo()` are not yet implemented"
### Description
The subscriber functions `subscribeToAudio()` and `subscribeToVideo()` are missing in the plugin, both are available through the SDK. So they can be added quite easily.

### `subscribeToAudio()`
* [JS](https://tokbox.com/developer/sdks/js/reference/Subscriber.html#subscribeToVideo)
* [Android](https://tokbox.com/developer/sdks/android/reference/com/opentok/android/SubscriberKit.htm

[2018-02-28 16:20] primashah opened #46 "Testing branch 3.2.0 gives black screen on android 6.0.0."
I noticed lots of PRs were merged on this branch and was trying to test it on our existing ionic app. The app launches fine but ends up with black screen. Dont see any console errors. For me looks like a css issue but our app works fine with this plugin repo from master branch.

[2018-02-28 16:32] mark-veenstra commented on #46
Do you apply z-index on publishers or subscribers? If so the cams are behind the webview as described here: https://github.com/opentok/cordova-plugin-opentok/blob/3.2.0/docs/README.md#positioning-the-cameras-behind-or-before-webview

[2018-02-28 17:00] primashah commented on #46
I dont have publisher / subscribers on home page. The ioinic view/page which has publisher and subscriber is not initialized.  A button navigates from home view to call view and the call view page initiates a call and hence the opentok session.

[2018-02-28 17:34] mark-veenstra commented on #46
I think I understand it. When you start your app the homepage is black. This is because of a issue with the scrolling on Android. In this PR: https://github.com/opentok/cordova-plugin-opentok/blob/3.2.0/docs/README.md#positioning-the-cameras-behind-or-before-webview

We are working on a solution on this with a different scrolling mechnism. Therefore 3.2.0 is not yet released. If you would like to

[2018-02-28 18:33] primashah commented on #46
ok I will give it a try. Any idea when 3.2.0 will be ready to use?

[2018-02-28 19:07] msach22 commented on #46
@primashah @mark-veenstra and his team are working on some PRs so we will release 3.2.0 as soon as we have the scrolling fixed

[2018-02-28 19:23] #43 closed

[2018-02-28 19:23] #39 closed

[2018-02-28 23:11] videmort opened #47 "Question / Maybe bug"
It's possible to change between cameras any function to do that?
And mute/unmute?
How can I change the width and height of the video. I tried via css but nope ;) (I attach one image on iphone X)
![image1](https://user-images.githubusercontent.com/11390548/36816492-37ac2792-1cde-11e8-9b55-331dd4b24242.png)

[2018-03-01 07:20] mark-veenstra commented on #47
* [Changing between front and back camera](https://github.com/opentok/cordova-plugin-opentok/blob/master/www/opentok.js#L441): `publisher.setCameraPosition('front')` or `publisher.setCameraPosition('back')`
* [Mute/unmute](https://github.com/opentok/cordova-plugin-opentok/blob/master/www/opentok.js#L431): `publisher.publishAudio(true)` or `publisher.publishAudio(false)`
* How can I change the widt

[2018-03-01 11:25] upendra-tarnoju opened #48 "How to make, Publisher view on top of Subscriber view."
Just like Video calls in other apps like Whatsapp.

Publisher view size :: 90 x 90
Subscriber view size :: full screen
and Publisher view on top of Subscriber view.

[2018-03-01 11:29] mark-veenstra commented on #48
This seems more like a question than a bug or issue.

But what you should do is add the correct width and height to the subscriber and publisher as you want. And also add the correct z-index to it.

[2018-03-01 11:37] upendra-tarnoju commented on #48
I added, but not working....

`var pubOptions = {
          showControls: true,
          insertMode: 'append',
          publishAudio: true,
          publishVideo: true,
          width: '90',
          height: '90',
          zIndex:2
     },
     subOptions = {
         showControls: true,
          insertMode: 'append',
          subscribeToAudio: true,
          subscribeToVideo: true,

[2018-03-01 11:51] mark-veenstra commented on #48
You should set the `width` and `height` and `zindex` through CSS.

[2018-03-01 11:55] upendra-tarnoju commented on #48
Please share the example code.... It would helpful.

[2018-03-01 18:17] videmort commented on #47
@mark-veenstra thanks I'm going to try

[2018-03-01 18:42] msach22 commented on #47
@mark-veenstra thanks for answering these again!

[2018-03-02 09:07] mark-veenstra opened #50 "Update the view when `<video>` elements are added or removed from the DOM"
At the moment the `OT.updateViews()` or `TBUpdateObjects()` gets called on different places in the JS code, like:
* https://github.com/opentok/cordova-plugin-opentok/blob/master/www/opentok.js#L31
* https://github.com/opentok/cordova-plugin-opentok/blob/master/www/opentok.js#L373
* https://github.com/opentok/cordova-plugin-opentok/blob/master/www/opentok.js#L632
* https://github.com/opentok/cordov

[2018-03-02 22:10] #30 closed

[2018-03-02 22:11] msach22 commented on #47
@videmort closing this b/c it's not an issue with the repo :)

[2018-03-02 22:11] #47 closed

[2018-03-02 22:11] msach22 commented on #46
@primashah are you still seeing the black screen?

[2018-03-03 10:09] mark-veenstra commented on #46
Otherwise you can test [this branch](https://github.com/Mediapioniers/cordova-plugin-opentok/tree/all-fixes), it contains a different scrolling solution and removes the black screen issue (and other scrolling issues).
Do not use it in production since it will be deleted as soon as it is merged into the main branch/repository.

[2018-03-03 20:30] ph-shah commented on #46
@mark-veenstra : I will test it some time and let you know.
@msach22 havent got chance to test again after creating this issue. As @mark-veenstra  is suggesting, I will try to test on the branch he recommends and post my observations here.

[2018-03-03 23:19] msach22 commented on #46
@ph-shah thanks for letting me know!

[2018-03-08 14:35] mark-veenstra opened #53 "Respect the `fitMode` property from the JS SDK in `initPublisher()`"
Within the JS SDK docs there is a `fitMode` property for the [`initPublisher()`](https://tokbox.com/developer/sdks/js/reference/OT.html#initPublisher) method. This `fitMode` property is not yet implemented / used within this Cordova plugin, but it should.

We have been investigating some other implementation using this and we think it should be possible to add the `fitMode` to this plugin. We will

[2018-03-12 10:27] LokeshPatel opened #54 "When app resume after tab on notification , session on streamCreated method not work."
Hello ,
When Open app after click on notification option, Then start to connect video then streamCreated method not work. if work when app open then method work properly. I've tested on android device.
Could you please help me to solve this issue. I've used below code .

 session = OT.initSession(apiKey, openTokSessionId);
        session.on({
            streamCreated: function(event) {

[2018-03-15 11:06] wolfenrain opened #55 "removeStreamView can trigger an app crash because of async"
If a subscriber decides to leave a session, you get a `onStreamDestroyed` event. But if you try to unsubscribe and the subscriber leaves the session at the same time, then there is a small chance your app will crash because either the `onStreamDestroyed` or the `unsubscribe` triggers `session exception: Cannot unsubscribe: An unknown Subscriber instance was passed into Session.unsubscribe()`.

Tha

[2018-03-15 17:58] sm20030 opened #56 "Getting failed to restore plugin error when trying to add this plugin"
We get the following error when doing ionic platform add android.

This however, works rarely but mostly fails.  Our connection seems to be fine because other plugins are updated.

Discovered plugin "com.tokbox.cordova.opentok" in config.xml. Adding it to the project
Failed to restore plugin "com.tokbox.cordova.opentok" from config.xml. You might need to try adding it again. Error: Failed to fetch

[2018-03-19 12:09] wolfenrain commented on #55
The crash is not happening because of the said exception above. Will try to dig into it more.

[2018-03-20 16:11] ben-i2x opened #62 "Possible to use cordova-plugin-opentok within 'ionic serve' and/or Ionic View app?"
Howdy -

I've added the cordova-plugin-opentok to my project, and when I build and deploy the app to my Android device it works well.

When I run: 'ionic serve' and use the local browser instance, I get an error that OT is undefined.  If I manually copy opentok.js into the top level 'www', I get an error about Cordova not being defined.  From poking around on the web, I see that this isn't surpris

[2018-03-20 16:40] msach22 commented on #62
@ben-i2x thanks for filing an issue. The reason that `OT` is undefined is b/c the plugin currently only supports iOS and Android. For web, you should use the following node module: `https://www.npmjs.com/package/@opentok/client`. In the near future, we will be releasing an update to the plugin that will automatically download the OpenTok JS SDK if the platform is the browser.

Hope this helps!

[2018-03-20 16:51] ben-i2x commented on #62
@msach22  - thanks for the clarification and the work-around suggestion.

I get that I can run:

```npm install --save @opentok/client```

to add this module to my project.

Any chance you could give me an example of how I can import this into an Angular 2 / Ionic page?

Do I need to be concerned with the OT variable from @opentok/client clashing with the cordova-plugin-opentok variable?

Thanks a

[2018-03-21 14:05] wolfenrain opened #63 "RunnablePublisher::run() calls setPublishAudio instead of setPublishVideo"
When creating a new `Publisher` in the `RunnablePublisher::run()` on android, it calls `setPublishAudio(publishVideo)` instead of `setPublishVideo(publishVideo)`. Will send in a PR to set it right.

[2018-03-24 08:07] mark-veenstra commented on #62
With version 1 of Ionic the plugins are not initialized during Ionic serve. Don't know if they do with later versions.

But you could build the browser platform and then serve the platform/browser/www directory.
This is how we do it anyways.

You need to wait for the 3.2.0 release since it hence the platform browser

[2018-03-24 08:21] mark-veenstra commented on #56
This issue will be solved in `3.2.0` since the solution of correct plugin naming.

[2018-03-24 08:24] mark-veenstra commented on #54
Are you sure you wrapped the code into the [deviceReady event](https://cordova.apache.org/docs/en/4.0.0/cordova/events/events.deviceready.html) of Cordova? I am pretty sure it should work.

Also check [the examples](https://github.com/opentok/opentok-cordova-samples/blob/master/Multiparty-Video-Chat/www/js/index.js#L22) which does the same.

[2018-03-24 08:32] mark-veenstra commented on #11
Have been testing and building on Android 8+ a lot with the new `3.2.0` branch and this seems not be an issue anymore if that one releases.

[2018-03-24 08:46] martyzz1 commented on #11
Thanks that's good to know

[2018-03-24 13:15] LokeshPatel commented on #54
Okay, Will check the examples Thanks :)

[2018-03-24 13:15] #54 closed

[2018-03-26 22:59] msach22 commented on #46
We tested 3.2.0 out and there were no issues. Please re-open and provide logs if issue persists

[2018-03-26 22:59] #46 closed

[2018-03-26 22:59] msach22 commented on #55
fixed with PR

[2018-03-26 22:59] #55 closed

[2018-03-26 22:59] msach22 commented on #56
fixed with 3.2.0. Please download 3.2.0

[2018-03-26 22:59] #56 closed

[2018-03-26 23:01] msach22 commented on #45
fixed with 3.2.0

[2018-03-26 23:01] #45 closed

[2018-03-26 23:01] msach22 commented on #63
fixed with 3.2.0

[2018-03-26 23:01] #63 closed

[2018-03-27 04:08] msach22 commented on #62
@mark-veenstra as far as I know, Ionic 2 behaves the same b/c in my app, the plugin is not initialized until `ionic serve`

@ben-i2x We've released Cordova 3.2.0 so please use the updated plugin if you would like to use the browser platform.

[2018-03-27 04:08] #62 closed

[2018-03-27 10:14] ben-i2x commented on #62
Thanks @msach22, I'll give that a try.

[2018-03-29 10:36] wolfenrain opened #68 "BUG: Camera does not get reclaimed"
# Bug Report

**Current behavior**

**Steps to reproduce**

**Example Project**

**What is the current *bug* behavior?**

**What is the expected *correct* behavior?**

**Relevant logs and/or screenshots**

[2018-04-04 12:50] wolfenrain opened #70 "TBSubscriber does not have stream object"
# Bug Report

**Current behavior**

**Steps to reproduce**

**Example Project**

**What is the current *bug* behavior?**

**What is the expected *correct* behavior?**

[2018-04-06 04:36] yydad117 opened #71 "iOS Publish and subscribe bugs"
# Bug Report

**Current behavior**

The android codes work perfectly. however, I have tested on iOS, the publisher can provide a video streaming in the iPhone, however, when the android wants to subscribe this session, it is not working.
And I use the Playground tools in the opentok, I cannot subscribe to this session also. But I use android to publish, playground works perfectly.

Also, when I us

[2018-04-06 07:42] mark-veenstra opened #72 "Mismatch in lowest resolution setting between Web, iOS and Android"
# Bug Report

**Current behavior**
If you set the `resolution` of the `initPublisher()` method, as described in the [opentok.js docs](https://tokbox.com/developer/sdks/js/reference/OT.html#initPublisher), to the lowest resolution `320x240`. It won't work in the [iOS](https://github.com/opentok/cordova-plugin-opentok/blob/master/src/ios/OpenTokPlugin.m#L136) or [Android](https://github.com/opentok/

[2018-04-06 07:54] mark-veenstra commented on #71
Something should be wrong on your side/code and this is nog a bug report, more like a question. Publish and subscribing in iOS is working in all project examples and many other projects.

[2018-04-08 10:22] jBoixBaro opened #74 "Changing Audio Output not possible on Android (Earpiece - Speaker)"
Hi,

I am using opentok to voice only calls. Everything works as expected, but sound is playing on speaker.

I would like to switch from speaker to earpiece, but seems to be not possible.

I tried to use this plugins, but has not effect on opentok. (https://github.com/alongubkin/audiotoggle)

Is there any way to switch the sound output source?

Thanks,

[2018-04-10 06:55] mark-veenstra commented on #72
@msach22 I partially agree. I missed the settings from the Android and iOS SDK, thanks for those links. But I still feel that the JS SDK should also be taken care off.

So maybe the best solution would be to have both settings from the iOS/Android SDK and the JS SDK too match the low resolution?

I will update the PR

[2018-04-10 15:10] msach22 commented on #72
@mark-veenstra We have to keep in mind that we have a JS wrapper and that it may not be possible to mimic the JS SDK 100% because under the hood the video, frames, resolution, etc are all based on what the native SDKs allow. I don't think we should create options that the iOS and Android SDK don't have listed as supported resolutions.

[2018-04-10 15:55] msach22 commented on #11
@martyzz1 can you check if you're still seeing this issue?

[2018-04-14 07:58] smuaq opened #75 "Draggable Publisher Video"
Is there any way/ best practices that one can introduce draggable interface for the publisher video?

Our application has interface like this currently implemented with opentok:

<img width="263" alt="screen shot 2018-04-14 at 12 56 34 pm" src="https://user-images.githubusercontent.com/4241552/38765896-4c1acd0a-3fe3-11e8-9e6f-633bba7294b9.png">

It would be great if I can get a lead on the best wa

[2018-04-14 10:10] wolfenrain commented on #75
I would assume you could some touchdown events to check if the user is touching the publisher and if it's being dragged.

Then the DomObserver will be automatically updating the native cams. But I don't dare to say how smooth that would go.

[2018-04-14 11:04] smuaq commented on #75
That's exactly my concern, i would have to call TB.updateViews() to constantly update the publisher view on the drag event & that's probably not going to be a very pleasant experience.

[2018-04-14 11:59] wolfenrain commented on #75
If you are on the 3.0.0 version then there would be no need for that. The DomObserver will update when it's necessary.

Haven't tried with such a dragevent. But it does work smoothly in our environment. If you set the opacity of the DOM element to 0 it could work pretty well

[2018-04-14 12:01] mark-veenstra commented on #75
@wolfenrain 3.0.0 does not have the DOM observer  yet. See https://github.com/opentok/cordova-plugin-opentok/pull/59

[2018-04-14 12:05] smuaq commented on #75
@wolfenrain What exactly do you mean by setting the opacity to 0? Can you share some details on this?

[2018-04-14 17:28] wolfenrain commented on #75
@mark-veenstra oh yea... Got ahead of myself there.

@smuaq you could apply CSS rules to the .OT_root and then implement a DomObserver(or call tbupdate). Or use the PR that is suppliedbwith the issue that @mark-veenstra linked

See if that would be a viable solution

[2018-04-16 14:26] smuaq commented on #75
Great , thanks I will see what I can leverage

[2018-04-17 00:11] msach22 commented on #72
@mark-veenstra I understand, but I think it will be misleading if the clients check their logs in the [Session Inspector](https://tokbox.com/developer/tools/inspector_doc/) and see that the resolution that they are setting is getting ignored and defaulting to `352x288` even if they are specifying `320x240`.

Even though Cordova developers are not used to having platform specific code, this is some

[2018-04-17 00:13] msach22 commented on #71
Closing issue due to inactivity. Please re-open with code samples if the issue still persists.

[2018-04-17 00:13] #71 closed

[2018-04-17 00:14] msach22 commented on #11
Closing issue due to inactivity, please re-open if the issue still persists.

[2018-04-17 00:14] #11 closed

[2018-04-17 19:38] bobtheowl opened #76 "Continuous auto-focus doesn't work on Android devices"
# Bug Report

**Current behavior**

**Steps to reproduce**

**What is the current *bug* behavior?**

**What is the expected *correct* behavior?**

**Relevant logs and/or screenshots**

[2018-04-18 08:59] smuaq commented on #76
Is autofocus working at all on your side? Im having trouble having any focus at all on android devices!

[2018-04-18 12:51] bobtheowl commented on #76
Yeah, the same app has functionality to record regular video using the native camera app and the autofocus works fine on that.

[2018-04-18 13:33] smuaq commented on #76
I see that the config.xml has permission declared for auto focus:
`<uses-feature android:name="android.hardware.camera.autofocus" android:required="false" />`
But its not working..

[2018-04-18 13:36] smuaq commented on #75
@wolfenrain i was able to make dragging workable for the publisher video using [https://github.com/fatlinesofcode/ngDraggable](url), the experience on ios is surprisingly okay!

[2018-04-18 14:04] wolfenrain commented on #75
Using the PR branch that @mark-veenstra linked? And yes iOS is really quick with updating the views, compared to Android.

[2018-04-18 14:14] smuaq commented on #75
No, I used the simple tb.updateviews function but unfortunately on android the updateview is although working okay-ish is causing alot of flicker, what are your views on android for this? (I was testing on android 8)

[2018-04-18 22:26] msach22 commented on #75
@smuaq My recommendation is not to use the `onScroll` event listeners for the scrolling b/c of the potential flickering issues. This is especially true for older devices

[2018-04-19 07:50] smuaq commented on #75
@msach22, I'm sorry are you referring scrolling to as dragging (i'm talking about dragging the publisher video around the view, my scroller is fixed)?
I'm simply using this library: [https://github.com/fatlinesofcode/ngDraggable](url) for dragging the video element, & in on-drag event I'm simply calling `tb.updateviews()` which although working is causing lot of flickering (on android only, ios wo

[2018-04-19 13:19] FredeHo opened #77 "#Crash: Android 4.4.4 setTranslationZ => java.lang.NoSuchMethodError"
Hi guys,

I'm experiencing a crash in my Ionic-App on an Android 4.4.4 Tablet.
` java.lang.NoSuchMethodError: android.view.View.setTranslationZ`

This isn't a big suprise since there seem to be a few _setTranslationZ_ calls, which are only supported since API level 21.

Is there any fallback for devices < Android 21? Or would a
`if (android.os.Build.VERSION.SDK_INT >= 21)`
around the setTranslatio

[2018-04-19 13:30] mark-veenstra commented on #77
We build a seperate APK for API levels below 21. We use crosswalk plugin
for those older builds.

Mark

Op do 19 apr. 2018 om 15:19 schreef Frederik Hobein <
notifications@github.com>:

[2018-04-19 13:35] FredeHo commented on #77
Yeah we build seperate APKs as well. I should have mentioned it. We're using crosswalk and the newest cordova-plugin-opentok version (3.2.1)

[2018-04-19 14:07] FredeHo commented on #77
I can confirm now: Wrapping all setTranslationZ calls in OpenTokAndroidPlugin.java around like this e.g.
[code]
did fix the crashes. Working now. Might be a bit hacky, bit for now its fine!

[2018-04-19 14:08] wolfenrain commented on #77
@FredeHo Are you doing negative valued `z-index`? I am currently working on it(may need some changes) and was wondering if you are having any issues with negative values

[2018-04-20 15:58] ben-i2x opened #78 "Signal events are delivered twice"
# Bug Report

**Current behavior**

Signal events are being dispatched twice for the same type.

**Steps to reproduce**

In order to receive signal events I needed to register an event handler with the type of signal event. For example, consider signal events with type set to 'chat':

         this.session.on({
          streamCreated: (event) => {
            this.session.subscribe(event.stream,

[2018-04-20 17:25] ben-i2x commented on #78
I understand this is how it's supposed to work. I'm saying that if you look at the [current code](https://raw.githubusercontent.com/opentok/cordova-plugin-opentok/master/www/opentok.js) there's a bug that keeps it from working this way.

     TBSession.prototype.signalReceived = function(event) {
        var streamEvent;
        streamEvent = new TBEvent("signal");
        streamEvent.type = event

[2018-04-20 17:44] msach22 commented on #78
@ben-i2x My apologies for not understanding. What should be happening is that the event should be only fired once, but you should be able to listen to it either as `signal` or `signal:type` or both if you wanted to. It should **not** be firing twice.

Is this what you're suggesting as well?

[2018-04-20 17:53] ben-i2x commented on #78
This is a sound strategy.

My point is that there's a bug in the code that's making it so that it doesn't work this way. The current code (as far as I can tell) issues two events both with type set to 'type' (vs: 'signal' and 'signal:type').

I described the bug in terms of the fact that the same type of event was being issued twice. But another way to look at this bug is that the correct type is

[2018-04-20 19:00] msach22 commented on #78
@ben-i2x I reread the issue and I'm not sure if I answered your questions properly. Both of the events should have the exact same type and data. It's just that they have two different names: `signal` or `signal:type` because at the core a`signal:type` event is still a `signal` event. This behavior is not a bug, it's intentional.

I just ran a quick test and sadly neither the `signal` nor the `sign

[2018-04-20 19:14] ben-i2x commented on #78
I understand this, and this bug report I filed has nothing to do with this.  However, it has everything to do with what you're seeing below.

Excellent! This is what's happening to me.

Can you try two things:

1. Register an event handler for just 'type'. So instead of:

   session.on({'signal' : ...,
                     'signal:foo' : ...{)

try:

   session.on({'foo' : ... })

I know that this

[2018-04-20 21:59] msach22 commented on #78
@ben-i2x Great catch and explanation :) As you said,  when we set `streamEvent.type`, it overrides the event name. If you're up for it, please send a PR, if not, I'm happy to fix the issue myself! Please keep in mind that the issue will be fixed in the  `3.3.0` release which should be going out mid-next week.

[2018-04-20 22:25] ben-i2x commented on #78
@msach22  - I just realized I have no idea what you're preferred protocol for opening/closing these tickets and I just closed it.

So I'm re-opening this ticket and I'll leave it to you close. Sorry for any confusion.

[2018-04-20 22:30] msach22 commented on #78
@ben-i2x Thanks for keeping the issue open! We like to keep the issue open until the fix has been released. Since this is a P1 bug, I will be releasing a patch and releasing this with `3.2.2` by EOD

[2018-04-20 22:41] ben-i2x commented on #78
@msach22  - thanks for the explanation and the fix.

[2018-04-20 22:44] msach22 commented on #78
Thanks for all your help @ben-i2x! Updated and released on NPM!

[2018-04-20 22:44] #78 closed

[2018-04-24 00:42] amatakasap commented on #74
You can switch speakers by calling the following before creating an instance of Session.

// voice calll
AudioDeviceManager.getAudioDevice (). SetOutputMode (BaseAudioDevice.OutputMode.Handset);

// or video call
AudioDeviceManager.getAudioDevice (). SetOutputMode (BaseAudioDevice.OutputMode.SpeakerPhone);

Please refer to this fork.
https://github.com/amatakasap/cordova-plugin-opentok/tree/featur

[2018-04-24 08:08] lulersoft opened #83 "TypeError: Cannot convert undefined or null to object opentok.js:23"
TypeError: Cannot convert undefined or null to object
opentok.js:23
    at slice (<anonymous>)
    at a (http://localhost:8000/opentok.js:23:114633)
    at c (http://localhost:8000/opentok.js:23:115132)
    at new u (http://localhost:8000/opentok.js:23:115169)
    at e.exports (http://localhost:8000/opentok.js:23:114416)
    at Object.Node.o.name.c.request (http://localhost:8000/opentok.js:23:1211

[2018-04-24 16:19] kerloom opened #84 "Could not resolve all dependencies for configuration 'classpath'"
# Bug Report

**Current behavior**

Versions:
Gradle: 4.6
JVM: 1.8.0_162
Cordova: 7.1.0

**Steps to reproduce**

**Example Project**

**What is the current *bug* behavior?**

**What is the expected *correct* behavior?**

**Relevant logs and/or screenshots**
[code]
I get the following error on my app (previous error was on Basic-Video-Chat):
[code]

[2018-04-24 20:55] msach22 commented on #83
@lulersoft Could you please provide more details as to when this happens? Could you also share your implementation?

[2018-04-25 08:36] wolfenrain opened #86 "Z-ordering on Android not working as expected"
# Bug Report

**Current behavior**
Z-index does not fully work on Android, its either on top or on bottom but overlapping multiple views won't work

**Steps to reproduce**
- Create Publisher with z-index of -1
- Create Subscriber bit off the Publisher with a z-index of -2
- Steps 1 and 2 with z-index reversed
- See the difference

**What is the current *bug* behavior?**
The plugin uses(by default)

[2018-04-26 15:48] videmort opened #87 "Show/Hide video"
How i can hide the video and show it again? I want to open one Modal View from the videoCall,

I tried with display : none and calling OT.updateViews() but nothing happen

[2018-04-28 11:31] #87 closed

[2018-04-29 20:01] jBoixBaro commented on #74
Hi, how can I install the plugin of "feature/voice-headset" branch and not "3.2.0"?

I changed this: cordova plugin add cordova-plugin-opentok
For this: cordova plugin add git@github.com:amatakasap/cordova-plugin-opentok.git#feature/voice-headset

But is not working.

Thanks,

[2018-05-02 22:46] msach22 commented on #84
@kerloom Thanks for sharing this! Are you seeing this on Cordova 7? It looks like there are issues with not specifying compileSdkVersion for Cordova 7.

[2018-05-03 07:56] amatakasap opened #94 "Crash on iOS10"
# Bug Report

**Current behavior**
Application will crash on iOS 10 when re-making call after disconnecting call.

**Steps to reproduce**
1. Connect to the opentok session with two smartphones
https://github.com/opentok/opentok-cordova-samples/tree/master/Basic-Video-Chat
1. When the image is displayed, execute session.disconnect () on the iOS 10 iPhone to disconnect the call.
1. Application crash

[2018-05-03 16:57] kerloom commented on #84
@msach22 Yes, this is with Cordova 7.1.0. I have also tried with Cordova 8.0.0 and the same error occurs. Please advise.

[2018-05-03 17:01] msach22 commented on #84
@kerloom I'm investigating a fix, but could you please verify that it works with versions below 7?

[2018-05-03 17:41] kerloom commented on #84
I tried with Cordova 6.5.0 and I get the same error. When I go below that (versions 6.4.0, 6.3.0, and 6.1.0) I get a different error:
`cordovaProject.projectConfig.getFileResources is not a function`

[2018-05-05 22:37] msach22 opened #95 "Screen Sharing"
# Feature Request

WIP

**Description**

**Proposal**

**Links / references**

[2018-05-05 22:39] msach22 commented on #95
@mark-veenstra Hey Mark, I've started to work on screen sharing and I'm wondering if you think having multiple publishers will be a good idea. Like publishing from the camera and the screen at the same time.

[2018-05-06 08:48] mark-veenstra commented on #95
@msach22 I think it would be nice indeed to share camera and screen at the same time. So multiple publishers seems to be necessary

[2018-05-06 08:51] msach22 commented on #95
@mark-veenstra Just to clarify, the screen share would show the publisher as a part of the screen so it would take up quite a bit of real estate considering mobile screens are small.

The initial screen share feature would only support one publisher, but we can increase that support to multiple publishers in the second iteration if there is high demand for it.

[2018-05-07 06:28] mark-veenstra commented on #95
@msach22 I really think it is not a good idea to build in limitations. I would like to keep designs to designers and open up possibilities to create a nice interface. For example we have created a interface where the end-user can place camera's/screen views on the screen where he/she likes. Also he/she can choose which ones will be big and which will be small.

And if there are too many participan

[2018-05-07 17:46] msach22 commented on #95
@mark-veenstra Sounds good Mark, I will work on multiple publisher support this week and add that as well. I'd love to see the video set up so please share that when you can!

[2018-05-08 10:31] wolfenrain commented on #95
@msach22 @mark-veenstra as promised, https://drive.google.com/file/d/1xPPGTEcPs91OaQQkhflipNbamRHoUK_0/view?usp=sharing

[2018-05-08 19:12] kerloom commented on #84
@msach22 While you investigate a fix, could you tell me what versions do you work with? (gradle, jcm, and cordova)
Thanks!

[2018-05-08 20:03] msach22 commented on #95
@wolfenrain This looks great! Are you open to having this as an external package? Similar to the `opentok-layout-js`. Let me know what you think!

[2018-05-08 21:47] Anthonyzou opened #99 "Alternative way to do opentok on iOS"
# Feature Request

**Description**

The cordova opentok project is really quite rough around the edges and does not integrate with the `opentok-layout-js` library.

**Proposal**

I am wondering if it is possible or better to simply shim the webrtc API from [cordova-plugin-iosrtc](https://github.com/BasqueVoIPMafia/cordova-plugin-iosrtc)
And then use the web opentok library with a wrapper library f

[2018-05-08 22:11] msach22 commented on #99
@Anthonyzou One of the TokBoxers in the past tried this approach, but had difficulty getting it working effectively with the JS SDK: https://github.com/aoberoi/cordova-plugin-opentokjs

This plugin uses the OpenTok iOS and Android SDK while the `opentok-layout-js` package was made for the JavaScript SDK.

One of our open source contributors, @wolfenrain, is working on a layout manager something fo

[2018-05-08 22:11] msach22 commented on #99
Closed by accident, but would love to hear your thoughts! @Anthonyzou

[2018-05-13 21:04] smuaq commented on #75
Closing this issue as I have worked around the problem in Android. Feel free to ping me if anyone comes looking to this thread for a solution. Thanks for the help guys!

[2018-05-13 21:04] #75 closed

[2018-05-14 04:00] msach22 opened #101 "Move OpenTok Labs Banner under the repo title for SEO"
**Please post usage questions or broader discussions on [StackOverflow](https://stackoverflow.com/questions/ask?tags=opentok+cordova)**.

---

For **feature requests**, please fill out the [feature request template](https://github.com/opentok/cordova-plugin-opentok/issues/new?template=feature_request.md)

---

For **bug reports**, please fill out the [bug report issue template](https://github.com/

[2018-05-14 20:16] msach22 commented on #75
@smuaq could you please share your workaround? Unfortunately, I believe that it's not something that's for the core plugin, but it would be great for the [opentok-cordova-samples](https://github.com/opentok/opentok-cordova-samples) repo

[2018-05-14 22:12] msach22 commented on #94
@amatakasap Thanks for reporting the crash. To clarify, are you doing something like this:

[code]

The reason that you're seeing this crash is because you're calling `initSession` before the session has disconnected. You should really be calling the second `initSession` when the `sessionDisconnected` event fires. This is because at this time, the library only supports one session at a time.

You'

[2018-05-14 22:16] msach22 commented on #83
@lulersoft I'm closing this issue due to the inactivity. Please re-open with more details if the issue still persists.

[2018-05-14 22:16] #83 closed

[2018-05-15 06:56] smuaq commented on #75
Sure @msach22 , how do you want me to provide? I have it embedded in my current project.

[2018-05-17 22:18] msach22 commented on #95
@mark-veenstra @wolfenrain I investigated supporting multiple publishers and it would require some breaking changes so I'm going to hold off on adding support for multiple publishers until we have more demand. We may still release screen sharing, but I will keep you both updated!

[2018-05-17 23:00] msach22 commented on #76
@bobtheowl @smuaq the autofocus require feature is set to `false`, does it work for you when you set it to `true`?

[2018-05-17 23:54] msach22 commented on #70
This should go out with `3.3.0`

[2018-05-17 23:57] msach22 commented on #101
This should go out with `3.3.0`

[2018-05-18 12:43] smuaq commented on #76
No, I tried it with `true` but still the same

[2018-05-19 06:38] msach22 commented on #94
This fix should go out with `3.3.0`

[2018-05-19 06:57] #94 closed

[2018-05-23 13:36] henritoivar commented on #27
This doesn't work on OnePlus X (E1003), Android 6.0.1

But works on Sony D6503, Android 6.0.1

[2018-05-24 07:37] henritoivar commented on #27
@wolfenrain I'm able to position the video behind the webview on our Sony device, so that the html buttons are on top. On the OnePlus device the buttons are not visible, so i assume it didn't manage to place the video behind the webview.

[2018-05-28 18:12] Anthonyzou commented on #99
Ah I see.
I am also having difficulties.
But they don't seem like major changes that need to be done. It just seems like there is a little incompatibility with the data from `MediaDevices.getUserMedia`, from `cordova-plugin-iosrtc`

[2018-05-30 20:56] #101 closed

[2018-05-30 21:02] msach22 commented on #70
Released with `3.3.0`

[2018-05-30 21:02] #70 closed

[2018-05-30 21:02] msach22 commented on #77
Released with `3.3.0`

[2018-05-30 21:02] #77 closed

[2018-05-30 21:02] msach22 commented on #101
Released with `3.3.0`

[2018-05-30 21:02] msach22 commented on #94
Released with `3.3.0`

[2018-05-31 15:32] msach22 commented on #84
@kerloom My apologies on missing this. I have not had the opportunity to explore a fix, but here's the requested info:

- Cordova: 8.0.0
- Gradle: 4.4
- Java:
[code]

[2018-05-31 20:24] sumagowda opened #104 "Can't resize or reposition the publisher/subscriber video"
I am not able to resize the height & width of videos (both publisher & subscriber).
Here's my sample code for the publisher. I am using updateViews() ...but its still not working.
PLMK. Thx.
`var div = document.createElement('div');
                  div.setAttribute('id', 'publisherDiv');
                  div.style.position = "absolute";
                  div.style.zIndex = "10";

opentokPublish

[2018-05-31 20:43] msach22 commented on #104
@sumagowda It looks like the code you're using to create the publisher is outdated because the `initPublisher` method does not take the `apiKey` as an argument.

Can you try something like this?

[code]

[2018-05-31 21:05] sumagowda commented on #104
I just tried this below....its not making any difference. I am testing this on an android phone.

`opentokPublisher = TB.initPublisher('publisherDiv', {
                                                      width: 100,
                                                      height: 100
                                                      });`

[2018-05-31 21:16] msach22 commented on #104
@sumagowda Could you please provide the following?
 - Cordova Plugin Version
- Android Device + API Level

Lastly, could you clarify by what you mean on resizing? Are you creating a video with specific height and width and changing it later?

[2018-05-31 21:30] sumagowda commented on #104
@msach22

Here's the info:
cordova-plugin-opentok 3.3.0 "OpenTokCordovaPlugin"
cordova platform --version
8.0.0
cordova platform list
Installed platforms:
  android 7.0.0
  ios 4.5.4
APK level
27.0.2

[2018-05-31 21:53] sumagowda commented on #104
And one more note...I want to change the size only during "initializing" I don't want to resize or change it later.
Thx.

[2018-05-31 22:14] msach22 commented on #104
Thanks for sharing @sumagowda! Could you please confirm that you've tested it with the [opentok-cordova-samples](https://github.com/opentok/opentok-cordova-samples)? I used the Basic Video Chat from that repo and specified the `width` and `height` and it worked.

[2018-06-01 13:49] josh0203be opened #105 "It is working on browser but not working on iphone"
HI
I am  using  this SDK on my ionic project. but this is not working on iphone
I got this error. Could you help me asap , please ?
I attached error screen
[http://prntscr.com/jpj6hw](http://prntscr.com/jpj6hw)
Thanks for your time

[2018-06-01 15:49] msach22 commented on #105
@josh0203be Could you please confirm that you've followed the instructions here? https://github.com/opentok/opentok-ionic-samples

[2018-06-01 16:05] josh0203be commented on #105
I cloned Basic Video Chat repository and install npm
But get errors
"cannot find variable OT"
Would you explain to me about that?

[2018-06-01 16:16] msach22 commented on #105
Can you verify that you added the plugin using `ionic cordova plugin add cordova-plugin-opentok`?

[2018-06-01 16:22] josh0203be commented on #105
Yes
I've installed

[2018-06-01 16:26] josh0203be commented on #105
That's what I want to ask you
What is the "over the files"?

[2018-06-01 16:30] msach22 commented on #105
[`ionic serve`](https://ionicframework.com/docs/cli/serve/) launches a dev server and creates a build which can be used

[2018-06-01 16:32] josh0203be commented on #105
Yeah, so which files should I copy to the www folder?

[2018-06-01 16:33] msach22 commented on #105
The `ionic serve` command does that for you and prepares a build.

[2018-06-01 16:34] josh0203be commented on #105
Then?

[2018-06-01 16:36] josh0203be commented on #105
Ofcourse I have run "ionic serve"
And then clicked "Start OpenTok Call"
Then it says "OT is not defined"

[2018-06-01 16:36] josh0203be commented on #105
Perhaps it's version problem?

[2018-06-01 16:38] msach22 commented on #105
@josh0203be Please follow the instructions on the README which walks you through how to prepare for an iOS application. I'm unable to reproduce the issue that you're having.

https://github.com/opentok/opentok-ionic-samples#for-ios

[2018-06-01 16:39] msach22 commented on #105
@josh0203be I'm unable to reproduce the issue that you're having. Could you please confirm that you've followed each step in the `Running the Application` section for iOS?https://github.com/opentok/opentok-ionic-samples#for-ios

[2018-06-01 18:05] sumagowda commented on #104
@msach22  Its still not working for me. I did as much as could to match to the opentok-cordova-samples.
Unfortunately I can't change the whole code base.

[2018-06-01 20:46] sumagowda commented on #104
Hi @msach22
It works in basic sample code...
But it doesn't work when i need to add div dynamically....which is what I need to do for my UI...since user makes a call dynamically.

`
 var div = document.createElement('div');
                  div.setAttribute('id', 'publisherDiv');
                  div.style.position = "absolute";
                  div.style.zIndex = "1000";
                   $('

[2018-06-04 20:29] sumagowda commented on #104
@msach22 wanted to check in if you were able to recreate the bug.

[2018-06-04 21:45] msach22 commented on #104
@sumagowda I ran the following code and I was not able to reproduce the issue that you're having:

[code]

Could you please try that and see if it works for you?

[2018-06-05 15:34] msach22 commented on #105
@josh0203be Did this work for you?

[2018-06-06 21:03] josh0203be commented on #105
Yes it is working Thanks for your help

[2018-06-06 21:03] #105 closed

[2018-06-06 21:04] msach22 commented on #105
Happy to help, @josh0203be. I'm glad it's working for you!

[2018-06-07 17:58] msach22 commented on #104
@sumagowda I'm closing this issue due to inactivity. Please feel free to re-open if the code above does not work for you.

[2018-06-07 17:58] #104 closed

[2018-06-14 23:54] msach22 commented on #72
@mark-veenstra Hmm, actually we can merge this in because it'll still default to the `LOW` resolution. Thanks for the PR. Should go out with `3.4.0`

[2018-06-14 23:57] msach22 commented on #84
@kerloom Are you still seeing this issue?

[2018-06-15 20:32] kerloom commented on #84
Hi! No, I changed computers and the problem went away, so maybe it was due to some incompatibility of versions or something.

[2018-06-15 20:54] msach22 commented on #84
Thanks for letting me know @kerloom !

I'm going to close this issue, but if you encounter this again, please re-open!

[2018-06-15 20:54] #84 closed

[2018-06-20 21:47] brunosoune opened #106 "Browser haven´t support to WebRTC"
I have the error "Browser haven´t support to WebRTC" to IOS

I added the plugin cordova-plugin-opentok and the npm install --save @opentok/client to use @opentok/client/dist/js/opentok.min.js on html...

It work fine to desktop web browser, safari browser in iphone and compiled app android. But in compiled app iphone occur the error above.

[2018-06-20 21:50] msach22 commented on #106
The iOS webview does not support webrtc so you cannot use the JS SDK to run it in an iOS app. You have add this plugin and use the JS wrapper from this plugin to run OpenTok on your iOS app

[2018-06-20 22:12] brunosoune commented on #106
plugins\cordova-plugin-opentok\www\opentok.js ?
I should use this to android too?

[2018-06-20 22:14] msach22 commented on #106
Yes, that's correct! You can use the JS SDK and run it in an Android WebView, but I recommend sticking with the plugin so you can leverage the native SDKs.

[2018-06-20 22:46] brunosoune commented on #106
Ok @msach22

I'll try your recommendation and I'll post any result here.

Thanks a lot

[2018-06-21 04:08] msach22 commented on #106
@brunosoune Since this is not an issue with the plugin, I'm going to close this issue. Please feel free to re-open if you have issues using the plugin!

[2018-06-21 04:08] #106 closed

[2018-06-21 17:28] msach22 commented on #106
@brunosoune Yes, it should be working. I recommend checking out the samples here: https://github.com/opentok/opentok-cordova-samples/

[2018-06-21 18:35] brunosoune commented on #106
In your samples you use this way:

`session.connect(token, function() {
          // publish to the session
          session.publish(publisher);
        });
`
But in tokbox's examples is:
`session.connect(token, function(error) {
   if (error) {
     console.log(error.message);
   } else {
     session.publish(publisher);
   }
 });`

There are some difference use the if (error).... ?

[2018-06-21 20:22] msach22 opened #107 "session.connect error handler"
# Bug Report

**Current behavior**

Currently, the session.connect method does not work with the error handler

**Steps to reproduce**

[code]

**Example Project**

https://github.com/opentok/opentok-cordova-samples/blob/master/Basic-Video-Chat/www/js/index.js

**What is the current *bug* behavior?**

The error handler does not fire.
**What is the expected *correct* behavior?**

The error handler

[2018-06-21 20:22] msach22 commented on #106
Here's the issue: https://github.com/opentok/cordova-plugin-opentok/issues/107

[2018-06-21 20:52] brunosoune commented on #106
ok @msach22

thanks

[2018-06-27 08:40] hesrun opened #108 "Action html block z-index top of the video"
We have made sure that the video falls over HTML WebView.
I make to big video z-index: -1 and make transparent body and html.
Block with actions btns i make with high z-index 10, 99, 1000 and 9999 and 99999.... ((((
But the block with the buttons is not active, but they are visible. Clicks on it are not processed.

What could be the problem?

I can show styles, screenshots.

We using framework7...

[2018-06-27 09:43] wolfenrain commented on #108
Could you supply some HTML/CSS(maybe JS). I wonder if your camera HTML element is above the buttons and therefore your buttons wont be triggerd..

[2018-06-27 10:43] hesrun commented on #108
`<div id="component_mediacall2" class="page" data-name="component_mediacall2">
        <audio id="callingSignal" loop preload="auto">
            <source src="/audio/calling.ogg"/>
            <source src="/audio/calling.mp3"/>
        </audio>
        <div class="page-content">
            <div class="incoming-call-window">
                <div class="circle gradient-1"></div>

[2018-06-27 10:56] hesrun commented on #108
@wolfenrain this screens from files...

![css](https://user-images.githubusercontent.com/4364096/41969926-b582ced8-7a11-11e8-9424-817f67396ae4.png)
![html](https://user-images.githubusercontent.com/4364096/41969927-b5ac218e-7a11-11e8-9d95-18b1b6acb1eb.png)
![js](https://user-images.githubusercontent.com/4364096/41969929-b5d29ff8-7a11-11e8-8693-8a510673fd39.png)

[2018-06-27 11:02] hesrun commented on #108
@wolfenrain if .OT_subscriber make z-index: -1 and bottom 0px;
video go to back of page, then we make transparent bg for other blocks, do update view.
And i see fullscr video and action buttons, but the disabled...

[2018-06-27 14:20] hesrun commented on #108
I make a simple app, with my problem.
https://drive.google.com/open?id=1df8BXPHK7kmasHGGEnV6k25CkjZ0RwNY
At this app i have two blocks, one with video, one with buttons...

And again this problem, i can see buttons, but the not clickable

[2018-07-04 10:38] hesrun opened #109 "Round corners"
Hello all! How i can make round corners, video?
css property border-radius, not working...
I add this proprty to all elements with overflow:hidden, without them, and nothing.

[2018-07-06 10:04] wolfenrain opened #110 "TBSubscriber does not comply to given size"
# Bug Report
When you create a Subscriber with width/height properties that are not "100%" then its simply doesn't do anything with it.

**Current behavior**
Doesnt change size to the size I give it.

**Steps to reproduce**
Subscribe to session with width/height of "50%" or "500px"

**What is the current *bug* behavior?**
Doesnt change size to the size I give it.

**What is the expected *correct*

[2018-07-09 07:52] mark-veenstra commented on #109
Currently not possible with this plugin untill we get #86 merged in, which will use `TextureViews` and adds the possibility to use `border-radius`.

[2018-07-09 11:31] wolfenrain opened #112 "App crash when targeting sdk level 27"
# Bug Report

**Current behavior**
When targeting SDK level 27 the app crashes every time when disconnecting from Session.

**Steps to reproduce**
Set target SDK level to 27 and build one of the example apps(cordova-android-support-gradle-release may be needed and set to 26.+)

**Example Project**
https://github.com/opentok/opentok-cordova-samples

**What is the current *bug* behavior?**
App crash

[2018-07-09 11:36] mark-veenstra commented on #112
@msach22 Can you please have look, this issue blocks the `targetSdkVersion` needed to be released before november 2018 as described here: https://android-developers.googleblog.com/2017/12/improving-app-security-and-performance.html

[2018-07-11 14:06] wolfenrain commented on #112
@msach22 @mark-veenstra after some futher inspection of the crashes I have concluded that is not necessary triggerd by the SDK version, but more that on version 27 a certain error/crash is constant. Will look further into it and report my findings, or make a PR.

[2018-07-13 16:04] msach22 commented on #112
@wolfenrain @mark-veenstra Thanks for reporting this. I just build a basic application and ran it on the emulator and was not able to reproduce this issue.

I called the unsubscribe method after the session had been disconnected and it still didn't crash.

Is this happening on a specific device?

[2018-07-13 18:11] wolfenrain commented on #112
@msach22 as seen in the PR, it triggers "randomly" when you close the Session, apparently then it will still receive certain events because the session is still `disconnecting`. So it is not necessary because of the unsubscribe. More a stream/connection dropped because the other side disconnects session as well at the same time

Hope that explained some, I will be gone for the weekend so will try

[2018-07-17 15:48] msach22 commented on #112
@wolfenrain Thanks for the update, I will investigate further and update you on my findings!

[2018-07-31 17:33] msach22 opened #115 "Android Frame Rate not set properly"
**Please post usage questions or broader discussions on [StackOverflow](https://stackoverflow.com/questions/ask?tags=opentok+cordova)**.

---

For **feature requests**, please fill out the [feature request template](https://github.com/opentok/cordova-plugin-opentok/issues/new?template=feature_request.md)

---

For **bug reports**, please fill out the [bug report issue template](https://github.com/

[2018-08-06 09:04] wolfenrain commented on #112
@msach22 Did you manage to find anything else that may be involved with this?

[2018-08-07 15:27] msach22 opened #118 "Completion handler for initPublisher doesn't exist."
**Please post usage questions or broader discussions on [StackOverflow](https://stackoverflow.com/questions/ask?tags=opentok+cordova)**.

---

For **feature requests**, please fill out the [feature request template](https://github.com/opentok/cordova-plugin-opentok/issues/new?template=feature_request.md)

---

For **bug reports**, please fill out the [bug report issue template](https://github.com/

[2018-08-09 16:38] mark-veenstra commented on #86
@wolfenrain Can you add a PR without the usage of [PR59](https://github.com/opentok/cordova-plugin-opentok/pull/59)

[2018-08-17 13:12] Gopalagithub opened #119 "Does opentok cordova plugin, support (pause, resume and annotation) on video?"
We are unable to get the image data from the .getImgData() function using opentok.js file in plugin for IoS hybrid application using cordova-plugin-opentok.

opentok.min.js works in safari and doesn't in ios app, any other alternative plugin which will support all the bellow mentioned features

1) Basic Video/Audio Call.
2) Pause/Resume Feature.
3) Annotation.

[2018-08-17 13:18] wolfenrain commented on #119
The [`.getImgData()`](https://github.com/opentok/cordova-plugin-opentok/blob/master/src/js/OTPublisher.coffee#L91) is not yet implemented with the JS bridge. Ofcourse it works with the `opentok.min.js` in a browser(safari in this case). Thats because its a different library.

[2018-08-17 14:07] Gopalagithub commented on #119
Thanks for the input @wolfenrain, Is there any other libraries with the above functionalities?

[2018-08-17 19:43] msach22 commented on #119
@Gopalagithub As @wolfenrain mentioned, the native SDKs don't have a method for capturing a screenshot, but you could implement a Custom Capturer to capturer the contents of the stream:
- Android: https://tokbox.com/developer/tutorials/android/custom-camera-video-capturing/
- iOS: https://tokbox.com/developer/tutorials/ios/custom-camera-video-capturing/

[2018-08-20 15:33] msach22 opened #120 "Add getImgData"
**Please post usage questions or broader discussions on [StackOverflow](https://stackoverflow.com/questions/ask?tags=opentok+cordova)**.

---

For **feature requests**, please fill out the [feature request template](https://github.com/opentok/cordova-plugin-opentok/issues/new?template=feature_request.md)
---

The OpenTok JS SDK supports the `getImgData` functionality. We should be able to use `get

[2018-08-20 15:33] #120 closed

[2018-08-20 15:34] msach22 opened #121 "Add getImgData"
# Feature Request
The OpenTok JS SDK supports the `getImgData` functionality. We should be able to use `getImgData` for iOS and Android as well.
**Description**

**Proposal**

**Links / references**

[2018-08-20 20:02] wolfenrain commented on #121
If we can extract the base64 data from it then yes, it would be doable

[2018-08-24 16:53] sagivf opened #122 "Running in browser vs Cordova (ionic)"
So from what I have gathered there are two ways to load the tokbox code/package.
1) `import * as OT from '@opentok/client'`
2) add the tokbox script - `<script src="opentok.js"></script>`

The code loaded in both ways is different.
Using (1) will work with in the browser only.
Using (2) works on both but to load the script you must be on a cordova platform, so you have to run `cordova run browser`

[2018-08-24 18:38] msach22 commented on #121
Yes, we can do that by implementing something like this:
https://github.com/opentok/opentok-ios-sdk-samples-swift/tree/master/Live-Photo-Capture/Live-Photo-Capture

[2018-08-24 18:57] wolfenrain commented on #121
Would come with its own side effects. We should take each option into consideration properly(maybe with some tests) to see what would be viable and least "destructive"(at lack of words).

[2018-08-25 11:30] sagivf commented on #122
@wolfenrain It is typescript. Your correct it is not importing the cordova plugin, it's loading the web sdk.
That's my issue, it would be nice if using a simple `import` would load the cordova code or the web sdk code depending on the platform. Would probably need a third package to handle the differences and recognize when to use cordova code and when to run web code, that's what https://ionicfra

[2018-09-04 20:09] samurodrigo opened #124 "Video Position"
# Bug Report

**Current behavior**
By using the offsetWidth, offsetHeight, offsetTop, offsetLeft properties of the div containing the video, it may occur that it is not positioned correctly on the screen.

**Steps to reproduce**
Put the video inside a div styled as this jsbin:
`https://jsbin.com/poxuyetipi/edit?html,css,output`

**What is the expected *correct* behavior?**
The video must obey the

[2018-09-06 18:19] msach22 commented on #121
Released with 3.4.0

[2018-09-06 18:19] #121 closed

[2018-09-11 16:19] msach22 commented on #86
@wolfenrain Are you still working on the PR without #59 ?

[2018-09-12 13:01] sagivf opened #128 "z-index not working as expected"
I'm trying to overlay the users video (the publisher) over the user he is communicating with (the subscriber).
The order of the participants joining the session seems to affect whether this is possible or not.
I'm not sure if the z-index has any effect or if it's just inconsistent.
The issue is for IOS and Android. web works fine.
I tried a load of different CSS setups, but nothing was consistent.

[2018-09-12 13:02] sagivf commented on #128
I'm basically trying to achieve this -
https://tokbox.com/blog/wp-content/uploads/2017/11/OpenTok-Plugin-for-Cordova-2-287x287.png.

But like I said this only works in some cases, depending on who enters the room first.

[2018-09-12 16:03] youssmak commented on #128
There is already an issue about this https://github.com/opentok/cordova-plugin-opentok/issues/86
I'm working with a fork as a temporary workaround https://github.com/talkspiritlab/cordova-plugin-opentok

[2018-09-13 05:16] sagivf commented on #128
Thanks @youssmak, I tried using https://github.com/msach22/cordova-plugin-opentok and it didn't help.
https://github.com/talkspiritlab/cordova-plugin-opentok works well you say?

[2018-09-17 07:02] sagivf commented on #128
@youssmak talkspiritlab fork works great! Thank you very much.

[2018-09-17 08:33] sagivf commented on #86
If it helps anyone this fork solved the issue for me:
https://github.com/talkspiritlab/cordova-plugin-opentok

[2018-09-17 08:33] sagivf commented on #108
If it helps anyone this fork solved the issue for me:
https://github.com/talkspiritlab/cordova-plugin-opentok

[2018-09-17 12:40] sagivf commented on #128
@youssmak This works great on android.
On IOS it seems like the negative z-index isn't working. I get a dark screen. :cry: :cry:

Does this work for you guys?

[2018-09-17 14:59] wolfenrain commented on #86
@msach22 sorry for the late response, I havent worked on it yet, but I can make some time to work on it if needed

[2018-09-17 15:00] wolfenrain commented on #128
@sagivf Did you add the transparent CSS rules?

[2018-09-18 06:03] sagivf commented on #128
@wolfenrain I did. If I set up a plain Ionic app, could you have a look?

[2018-09-18 15:23] scdyn opened #129 "Build failure"
# Bug Report

**Current behavior**
Can't build using
JDK 1.8,
Gradle 2.10
Node version: v6.14.3
Cordova version: 7.1.0

[code]

**Steps to reproduce**
* Git clone the following repository (master branch)
https://github.com/opentok/opentok-cordova-samples/tree/master/Basic-Video-Chat
* issue a cordova build command

**Example Project**
https://github.com/opentok/opentok-cordova-samples/tree/master/

[2018-09-18 22:50] msach22 commented on #129
@scdyn This looks like an issue with the samples repo because the samples haven't been updated to use the latest plugin.

I just create a sample video chat and added this plugin as a dependency and am able to publish and subscribe successfully. I am not seeing any build failures.

[2018-09-18 23:33] bpowell15 commented on #129
Disagree this is an error introduced on the version 3.4.0

Sent from my iPhone

[2018-09-19 00:33] msach22 commented on #129
Hmm, can you create a basic sample application using `cordova create` and then add the plugin? I did the following and didn't have to modify anything in the plugin to make it work:

- `cordova create sampleapp`
- `cordova plugin add cordova-plugin-opentok`
- `cordova platform add android`
- Add the script tag with opentok.js to the `index.html` file
- Add the basic code from Basic-Video-Chat Sampl

[2018-09-19 16:14] msach22 commented on #129
@scdyn @bpowell15 Can you share any feedback that you have? Would love to see how I can reproduce it so we can patch it if needed.

[2018-09-19 16:15] msach22 commented on #112
@wolfenrain I am still unable to reproduce this behavior

[2018-09-19 18:47] bpowell15 commented on #129
I dont know much about java but i was able to add “final” to the lines mentioned in the error and build successfully. Also downgrading the version to 3.3.0 and then removing plugins and reintstalling fixes the issue.
Sent from my iPhone

[2018-09-19 18:49] bpowell15 commented on #129
I actually followed issues for this plugin originally bc I was having this issue. I started to submit a MR with the fix but then was able to build without the changes. Now that I have looked closer at why it started working I realized that the version was changed from 3.4.0 to 3.3.0

Sent from my iPhone

[2018-09-20 06:57] scdyn commented on #129
@msach22 Can't try this before the end of the week, I'll get back to you by then. I don't build through Android Studio, do you think it can make the difference ?

[2018-09-20 13:39] bpowell15 commented on #129
I build through the command line as well , maybe it has to do with different java versions?

Sent from my iPhone

[2018-10-10 19:16] msach22 commented on #129
@bpowell15 and @videmort Could you folks please share your Java version?

[2018-10-25 16:35] brad commented on #129
@msach22
[code]

[2018-10-25 21:13] brad commented on #129
@scdyn I managed to get the build working again in my PR #130 in case you want to try it

[2018-10-28 21:09] p-sebastian opened #131 "App crash on iOS-12 when subscribing to stream"
# CRASH Report

**Current behavior**

- StreamDestroyed and SessionDisconnected dont run, it will just crash.
- Both apps will crash on subscribe in iOS
- If I dont subscribe on iOS, it will not crash but I wont be able to listen the other end.

**Steps to reproduce**

[code]

**What is the current *bug* behavior?**

**What is the expected *correct* behavior?**

**Relevant logs and/or screenshots*

[2018-11-01 05:15] msach22 commented on #131
@p-sebastian Thanks for reporting this, could you please share if this is happening on iOS 11 or just with iOS 12?

[2018-11-01 19:05] p-sebastian commented on #131
@msach22 I'm not entirely sure, since I cant find another device with iOS 11. So at the moment I've only tested iOS 12

[2018-11-11 08:58] alexisjcr07 commented on #128
Hello, I have the same error, but in my case I am trying to show another view on the video.

my code:
.ts

none(){
this.cc = 'none';
this.style = 'none';
}
block(){
this.cc = 'block';
this.style = 'block';
}

    streamCreated: (event) => {

    let subscriberProperties = {width:"100%",height:"91% !important"};

    if(event.stream.videoType === 'screen') {
    this.session.subscribe(event.stream,

[2018-11-14 07:18] dhavalgala opened #134 "Android Error: Only the original thread that created a view hierarchy can touch its views"
# Bug Report

**Current behavior**

**Steps to reproduce**

1. Start the call from browser
2. Join the same call from Android device
3. Disconnect from Android device. This should throw an error
4. Disconnecting from browser first and then disconnecting from Android device works perfectly fine, but not the other way round.
5. The black screen only disappears when I open the recent apps screen and

[2018-11-23 03:37] rhclayto commented on #95
This is cool. Can you share what you did to create this? Code maybe? Thanks for sharing the video.

[2018-11-23 04:44] rhclayto commented on #75
Ping! I would be interested in seeing your workaround for Android?

[2018-11-23 07:44] smuaq commented on #75
@rhclayto Can you please share your workaround? How did you come over the problem in android?

[2018-11-23 19:19] rhclayto commented on #75
@smuaq Hmm. I thought you mentioned that you had created a workaround for the flickering dragging on Android. I myself don't have a workaround. I would be interested in hearing about your solution.

[2018-11-23 19:47] smuaq commented on #75
@rhclayto Specifically for android what I'm doing is overlaying the child video view with a simple background & that way dragging is not causing any flickering in the main video.

[2018-12-06 11:04] mmubasher commented on #128
@sagivf  I was able to achieve that layout by just this code
[code]

[2018-12-09 17:11] mmubasher opened #135 "Stream freezes on mobile after disconnecting and connecting back again"
# Bug Report

**Current behavior**
Upon disconnection of any of the clients ( Browser and Mobile) in a 1-to-1 call, when the session is re-established, video call freezes while audio from both sides can be heard. Moreover, the native view of video streams gets stuck and stays on screen unless app is killed. On some occasions, app crashed itself too after a few seconds

**Steps to reproduce**
 Setu

[2018-12-10 15:30] msach22 commented on #128
@youssmak @sagivf Thanks for the updates and the work you've done here. Are you folks willing to create a PR to the main fork so the community members can also benefit from the change?

[2018-12-11 02:11] msach22 commented on #86
@wolfenrain No worries, do you think you will have the capacity to create a PR?

[2018-12-11 19:12] msach22 opened #136 "Automatically update views when a stream is created"
# Feature Request

**Description**

Currently, Ionic applications have to manually call `OT.updateViews` when they subscribe to a stream.
**Proposal**
We can detect if it's an Ionic application and call `OT.updateViews` automatically so the application layer does not have to do it.

**Links / references**

[2018-12-11 20:12] mark-veenstra commented on #136
The PR https://github.com/opentok/cordova-plugin-opentok/pull/59 is already implementing such a feature

[2018-12-11 21:03] msach22 commented on #136
Yes, but we can't merge #59 in because it drops support for some Android platforms that OpenTok still supports.

[2018-12-12 10:42] Shtibel commented on #136
when will this be updated?

[2018-12-12 12:06] IvoPelayo opened #137 "Signal event crashes the app on iOS"
When running app on iOS device, the signal event causes an exception:

Terminating app due to uncaught exception "NSInvalidArgumentException". Reason: [__NSDictionaryM setObject:forKey:]: object cannot be nil (key:data);

i was able to locate the bug on this method:
[code]

I was able to fix this exception by changing this line
`[data setObject: string forKey: @"data"]; `
to this
`[data setObject:

[2018-12-12 12:20] IvoPelayo opened #138 "streamCreated not firing when publishing from iOS"
# Bug Report

**Current behavior**
I have a Ionic 3 app that uses cordova-opentok-plugin, and a webapp using opentok.js.
I am able to see both videos on the ionic app, but on the webapp the 'streamCreated' event its never fired, so i´m only seeing the web publishers video

**What is the current *bug* behavior?**
streamCreated event not firing

[2018-12-12 14:31] IvoPelayo commented on #138
the solution is to remove all the callback functions on subscribe or publish methods. The only method that accepts callback properly is session.connect()

[2018-12-12 14:31] #138 closed

[2018-12-26 07:14] Shtibel commented on #128
I also have the same problem
trying to add html button with absolute position on top of the video and I can't see the element

[2018-12-26 07:19] Shtibel commented on #86
I also have the same problem
trying to add html button with absolute position on top of the video and I can't see the element

[2018-12-31 12:37] SohanMShetty opened #139 "Does this plugin support iOS annotation using opentok-annotation package ?"
We tried implementing annotation in iOS ionic application using cordova-plugin-opentok and opentok-annotation package, but we failed to do. is there any possibility to achieve this?

we published the canvas stream through videoSource attribute as given in below code, in publisher end annotation is happening, but in subscriber end annotation is not reflecting.
[code]

[2018-12-31 23:15] msach22 opened #140 "Several publisher and subscriber events don't fire"
# Bug Report

**Current behavior**
The audiolevel and network stats event listeners for the subscriber don't fire. This is because the native code is not registering the proper delegates and event listeners on iOS/Android.

**Steps to reproduce**
For example, the following would not result in any console log statements even when the event fires.

[code]

[2019-01-01 11:50] Shtibel commented on #86
This is a problem also in IOS
Please update the issue title

[2019-01-02 07:11] Shtibel commented on #140
+1

[2019-01-02 13:50] cupidleomanoj opened #141 "No permission dialog for camera and microphone"
**Hello, I need to create live video streaming, I am using OutSystem for development, when loaded this plugin in InAppBrowser, it does not ask for Camera and Microphone permissions. But the same works fine in web browser.

[2019-01-02 14:34] Shtibel commented on #128
Hן @vikaskonsam ,
No we are not able to see the overlay html...
We need to accomplish this:
![image](https://user-images.githubusercontent.com/24429607/50596202-1fab6200-0eac-11e9-8c5a-aba1bd41898d.png)

But all the HTML overlay elements are not visible in Android and IOS
That is the problem...

[2019-01-02 14:45] vikaskonsam commented on #128
@Shtibel
I understand your problem as I am stuck in the same issue.
I was actually looking for a response from @mmubasher as he seems to have some solutions. I was hoping it covers our problem. I should have tagged him in my comment. My bad.

For android we are just making use of the https://static.opentok.com/v2/js/opentok.min.js and this seems to work.
You may face a problem with getting camera

[2019-01-02 14:57] Shtibel commented on #128
HI @vikaskonsam ,
Don't do that !
Don't user the opentok.min.js on android !

That is what we did at first but when I talked to tokBox support about other problems they say that in hybrid cordova application (like Ionic) we should use only the plugin cordova-plugin-opentok because the app can brake if you use the opentok.min.js and the performance will be pure and the device will heet.

So we need

[2019-01-02 15:34] mmubasher commented on #128
@Shtibel Unfortunately, I do not have a solution for overlaying buttons on top of native views that hold the streamed videos. Problem is, these native views are rendered on the screen and HTML with any z-index gets rendered behind them. I have created a sample project [here](https://github.com/mmubasher/opentok_ionic).
Currently, I am looking into rendering controls on top of the native view since

[2019-01-02 20:44] Shtibel commented on #128
Hi @msach22
As you can see on previous comments we need the z-index problem fixed as soon as possible.
When can you work on it ?

[2019-01-03 10:44] vikaskonsam commented on #86
@Shtibel -
I have had a partial success in android by making doing the following:

1. Set #publisher css with z-index of -1
2. Set #subscriber css with z-index of -2
3. Set background:transparent for ion-app
4. After publishing remove any content inside the publisher container
`
        this.session.publish(this.publisher);
        if (OT.updateViews) {
          OT.updateViews();
          docume

[2019-01-03 11:47] vikaskonsam commented on #128
@Shtibel -
I have had a partial success in android by doing the following:

1. Set #publisher css with z-index of -1
2. Set #subscriber css with z-index of -2
3. Set background:transparent for ion-app
4. After publishing remove any content inside the publisher container
<pre>
this.session.publish(this.publisher);
if (OT.updateViews) {
    OT.updateViews();
    document.getElementById("publisher").

[2019-01-03 19:17] msach22 commented on #141
@cupidleomanoj Hmm, it looks like the InAppBrowser can't access the Cordova APIs which is what this plugin uses. I'm not sure if this plugin is compatible with InAppBrowser, you can try to use the OpenTok JS SDK with the InAppBrowser and it may work for Android, but not iOS since it doesn't support WebRTC.

[2019-01-03 19:18] msach22 commented on #139
@SohanMShetty Thanks for filing an issue. This plugin does not work with the annotations package because it was built for web. Please note that this plugin uses the native SDKs.

[2019-01-03 19:20] msach22 commented on #137
@IvoPelayo Thanks for filing this issue, could you please share the version of this plugin that you're using? Is this happening when you're sending a signal from the server side instead of a connected client?

[2019-01-04 08:14] rafialikhan commented on #108
@hesrun
Were you able to solve this problem.

[2019-01-04 10:36] mmubasher commented on #128
@sagivf How did you add that forked repo url as a plugin?
I was tried installing fork using command
$ ionic cordova plugin add git@github.com:talkspiritlab/cordova-plugin-opentok.git
but it fails with error
npm ERR! Could not install from "http://github.com :talkspiritlab\cordova-plugin-opentok.git" as it does not contain a package.json file.
can you please tell what can I be doing wrong? thanks

[2019-01-04 10:52] Shtibel commented on #108
Hi @rafialikhan ,
I don't see a statement _publisher.view.userInteractionEnabled in the OpenTokPlugin.m.

https://github.com/opentok/cordova-plugin-opentok/blob/master/src/ios/OpenTokPlugin.m

Can you send the line number?
Or exactly where to add your code?

Thank you.

[2019-01-04 11:04] Shtibel commented on #108
Hi @rafialikhan
I see you are talking about this plugin:
https://github.com/talkspiritlab/cordova-plugin-opentok

But as I can see this code is already implemented

![image](https://user-images.githubusercontent.com/24429607/50685217-ff50e400-1020-11e9-8130-0ff2709aa9cc.png)

We tried this plugin but the html layer are not visible.
What can be the problem ?

[2019-01-04 14:59] rafialikhan commented on #108
@Shtibel
We are using https://github.com/opentok/cordova-plugin-opentok but applied the same idea used in https://github.com/talkspiritlab/cordova-plugin-opentok. This solution is to solve the problem of html actions button not triggering the click events.

For overlaying the HTML control elements above the camera view we are using the negative z-index workaround as mentioned in the beginning of t

[2019-01-07 12:56] IvoPelayo commented on #137
Hi @msach22  i´m currently using 3.4.1 (latest), and I´m sending a signal from a web browser (opentok.js) to a iOS device.
With this mods and usign individual signal events, the plugin works like a charm, its just something to have in mind when moving from opentok.js to cordova plugin

[2019-01-07 13:09] wolfenrain commented on #86
@msach22 sorry, I haven't gotten around to it. But as we mentioned in #59 we could use a polyfill. That would make this issue useable.

One such polyfill could be [webcomponentsjs] (https://github.com/webcomponents/webcomponentsjs). Using that we can have the MutationObserver that gives us #59 functionality

[2019-01-07 14:52] mark-veenstra commented on #86
Why not skipping the API level 16 in the Cordova plugin. Then no changes are needed. API level 16 is also NOT supported by Cordova itself: https://github.com/opentok/cordova-plugin-opentok/pull/59#issuecomment-402025750

[2019-01-07 22:22] msach22 commented on #137
Thanks @IvoPelayo - I will update you as we get this fix in

[2019-01-09 20:22] msach22 commented on #140
@Shtibel I've submitted a PR for this - this should go out soon

[2019-01-09 20:31] #140 closed

[2019-01-09 20:34] msach22 commented on #140
This has been released with v3.4.2

[2019-01-09 21:40] msach22 commented on #140
@Shtibel You can find the release here: https://github.com/opentok/cordova-plugin-opentok/releases/tag/v3.4.2

PR: https://github.com/opentok/cordova-plugin-opentok/pull/142

[2019-01-09 22:03] Shtibel commented on #140
Hi @msach22
Sorry for all the questions.
Did you test the audioLevelUpdated on android ?

[2019-01-09 22:10] msach22 commented on #140
Yes, the `audioLevelUpdated ` events were set already set in [Android](https://github.com/opentok/cordova-plugin-opentok/blob/master/src/android/OpenTokAndroidPlugin.java#L363), but the JS wrapper was not dispatching them. With the following changes, you can see the events will be dispatched when they are received on the JS layer. https://github.com/opentok/cordova-plugin-opentok/pull/142/files#di

[2019-01-09 22:12] #141 closed

[2019-01-09 23:40] msach22 commented on #119
Closing this issue because `getImgData` has been implemented as of v3.4.0

[2019-01-09 23:40] #119 closed

[2019-01-09 23:41] msach22 commented on #135
@mmubasher We had some issues with reconnection in our native SDKs that have now been patched. Could you please check out the latest release (v3.4.2) of the plugin and see if this is still happening for you?

[2019-01-10 07:58] unixlabs commented on #135
@mmubasher we have test again for you its release (v3.4.2) working, can your trace the max_fails/fail_timeout parameters of the server

[2019-01-12 15:00] msach22 commented on #137
Thanks @IvoPelayo - I'm able to reproduce this issue. The crash happens when either `type` or `data` are `nil`. If you'd like to make a PR with your fix, please include it for `type` as well.  I'd be happy to review it. If not, I'll patch the plugin.

[2019-01-14 15:17] #139 closed

[2019-01-15 13:39] mmubasher commented on #134
@msach22 any thoughts on this please as I have this problem occurring in production builds

[2019-01-17 19:51] Shtibel opened #146 "Resizing subscriber video"
Hi there,
I want to resize the subscriber video.
Like I start with the subscriber HTML container is width: 100%, height: 600px;
and I want to change it when clicking on a button to: width: 400px, height: 400px;

If I change the HTML container to this dimension and do:
OT.updateViews();

the video stays the same size.

What is the problem ?

[2019-01-19 11:07] msach22 commented on #131
@p-sebastian I'm going to go ahead and close this issue, please feel free to re-open if you're still seeing this issue.

[2019-01-19 11:07] #131 closed

[2019-01-20 02:57] Shtibel opened #151 "Right to left (rtl) languages positioning problem"
Hi there,

A new problem I have with positioning of the videos.
I am running the application in a device that is in language Hebrew and the video is not positioned in place of the HTML div container it is just on the left outside of the div.
Thi happens after I do display none and display block

Please help
Thank you!

[2019-01-22 16:35] Shtibel commented on #146
Hi @msach22
I am trying on iPhone and Android devices.
The device width is different in each device.
On iPhone it is: 375
On android it is:  360

**Here is the code for initialization on subscriber:**

The subscriber HTML:
[code]

The subscriber CSS:
[code]

The subscriber ts code:
[code]
So with this initialization the subscriber video has 100% width and 400px height.
Now when clicking on a butto

[2019-01-22 17:24] #137 closed

[2019-01-22 17:35] Shtibel commented on #136
Hi @msach22 ,
So now we don't need to do OT.updateViews anymore?

[2019-01-22 17:37] msach22 commented on #136
@Shtibel `OT.updateViews` is only called by the plugin when a stream is created, not when there are changes in the DOM.

Currently, we are unable to add it when there are all DOM changes because we still plan on supporting Android 16.

[2019-01-22 17:41] Shtibel commented on #136
Ok thank you @msach22.

[2019-01-22 17:48] msach22 commented on #136
I'l update you if we can do things without dropping support!

[2019-01-22 20:02] IvoPelayo commented on #134
+1 on this.
It happens from time to time, maybe you are calling session.unpublish or session.unsubscribe (on ngOnDestroy?), after session.disconnect() and this session is unable to remove the divs created by the native plugin.

using a timeout on session disconnect event helps a little

[2019-01-22 20:20] Shtibel commented on #128
Hi all,
Maybe the ionic-native-google-maps solution can help you fix this z-index problem and let html elements hover over the native elements.
Please have a look on how they solve this problem
This is the plugin: [https://github.com/ionic-team/ionic-native-google-maps](url)

This is a full description on how it works: [LINK](https://docs.google.com/presentation/d/e/2PACX-1vScoho1ensbR4qCI9AIuQN55

[2019-01-23 10:48] Shtibel opened #152 "session.signal data object is sent as string"
Hi there,
We are working with signaling on our project we have a **website** and an **Ionic application**.
On the **website** we work with the opentok CDN:
`<script src="https://static.opentok.com/v2/js/opentok.min.js"></script>`

On the **Ionic application** we work with opentok plugin:
`<script src="opentok.js"></script>`

When we send a signal object with the CDN we get back: `data` as an objec

[2019-01-23 16:26] msach22 opened #153 "Session Error event does not fire"
# Bug Report

**Current behavior**
When you set the error event listener, the event is not dispatched.

**Steps to reproduce**
[code]
**What is the current *bug* behavior?**
The `console.log` statement never executes when there is a session error
**What is the expected *correct* behavior?**
The `console.log` statement should executes when there is a session error

[2019-01-23 19:46] IvoPelayo opened #154 "TBPublisher z-index"
# Bug Report

**Current behavior**

**Steps to reproduce**

**What is the current *bug* behavior?**

**What is the expected *correct* behavior?**

**Relevant logs and/or screenshots**
Subscriber with negative z-index is behind the view.
![screenshot_2019-01-23-15-54-19](https://user-images.githubusercontent.com/7936145/51632461-23bc2400-1f2e-11e9-90c0-9e9d09d44f98.png).

[2019-01-28 16:31] Shtibel commented on #128
Hi @msach22 ,
Thank you.

Waiting for your check results :-)

[2019-01-28 16:42] Shtibel commented on #95
Hi @wolfenrain ,
The video demo is very nice !!!
How did you manage to add the bottom strip with the buttons on top of the videos?
Is it HTML elements on top of it?
how did you manage to show it ?
In my code all the HTML is under the native videos.

[2019-01-31 09:22] hash-bud opened #156 "Publisher connecting as a subscriber"
**Please post usage questions or broader discussions on [StackOverflow](https://stackoverflow.com/questions/ask?tags=opentok+cordova)**.

---

For **feature requests**, please fill out the [feature request template](https://github.com/opentok/cordova-plugin-opentok/issues/new?template=feature_request.md)

---

For **bug reports**, please fill out the [bug report issue template](https://github.com/

[2019-01-31 09:23] #156 closed

[2019-01-31 09:42] hash-bud opened #157 "Publisher connecting as a subscriber without video"
# Bug Report
When connected from ios( ionic 3, cordova-ios 4.5.5,  iphone 6, ios  12.1.2, Cordova Plugin for OpenTok 3.4.4

**Current behavior**

Iphone 6 after clicking start call(Don't mind the white screen. Laptop camera has a tape over it)
![iphone6_after_start_call](https://user-images.githubusercontent.com/47208828/52261363-2fa4de80-294f-11e9-8eb7-29dfc6c352ca.jpg)

How playground shows the

[2019-02-07 21:28] philipjbrowning opened #158 "Android Build Failure: Variable needs to be declared final"
# Bug Report

**Current behavior**
The build fails because callbackContext and runsub should be declared with final. Adding final to those variables makes the build succeed.

**Steps to reproduce**
Run ionic cordova build android

**What is the current *bug* behavior?**
Build failure

**What is the expected *correct* behavior?**
Build successful

**Relevant logs and/or screenshots**
[code]

**Ioni

[2019-02-12 02:38] LT-Carter commented on #157
Did you figure out any workaround? I've ran into this exact same problem

[2019-02-18 10:26] Shtibel commented on #140
Hi @msach22
This fix is not working.

when we are doing one on one session the event is working
but when a new user connects to the session the audioLevelUpdate stops working

[2019-02-18 12:15] Shtibel opened #159 "audioLevelUpdated not working on more the 2 subscribers"
**bug report**

**Current behavior**
If there is 1 publisher and 1 subscriber the audioLevelUpdated event works, But when a new user subscribes to the session it stops working.

**Steps to reproduce**
Create a session publish a video and audio from a device.
Then subscribe to the session from a second device.
Start the audioLevelUpdated event and listen to the publisher and console.log it, see tha

[2019-02-18 16:43] HassaanAkbar opened #160 "initPublisher creates a publisher object but does not intialize camera"
# Bug Report

**initPublisher creates a publisher object but does not intialize camera**

![screenshot_1550508150](https://user-images.githubusercontent.com/20029451/52965241-5c56ee00-3372-11e9-8db5-da347910b13e.png)

**Steps to reproduce**

cordova-android: "^7.1.4"
cordova-plugin-opentok: ^3.4.3
Android Device: Xiamo A1, Android 9
Node LTS v10.15.1
Also tested on emulator Android 7.0

[2019-02-18 20:52] msach22 commented on #160
Thanks for filing the issue @HassaanAkbar! I've also answered the question here: https://stackoverflow.com/questions/54751291/initpublisher-creates-a-publisher-object-but-does-not-initialize-camera/54755174#54755174

I'll update you as we make progress 😄

[2019-02-18 22:38] HassaanAkbar commented on #160
Thanks @msach22
But i think the issue is not just related to permissions. I just created a new app with two buttons. One for initializing publisher and one for connecting session and start publishing. I gave all the permissions from the phone settings. Still the publisher isn't able to initializing. It just shows a placeholder image like before.

![screenshot_20190219-031223](https://user-images.g

[2019-02-20 16:42] msach22 commented on #160
@HassaanAkbar If you check the Android code - you will see that the native publisher is initialized, but the view is not super-imposed on the DOM element until the `publish` method is called:
https://github.com/opentok/cordova-plugin-opentok/blob/master/src/android/OpenTokAndroidPlugin.java#L243

[2019-02-20 22:25] msach22 commented on #159
@Shtibel Thanks for filing the issue. Can you please share which platform this is happening for? iOS, Android, or both?

[2019-02-20 22:26] msach22 commented on #157
@hash-bud Can you please share some more code on how you're running this? Are you seeing an error when you initialize the publisher? Are you calling publish after the session has connected or before?

[2019-02-20 22:31] msach22 commented on #152
@Shtibel The Cordova plugin only supports sending the signal as the following:
[code]

[2019-02-21 04:24] voxiel commented on #157
@msach22 I'm having the same issue, I'm running the Basic Video Example that is provided.

When I try to join a session in the playground, it joins but as a subscriber without video and audio.

The weird thing is that iOS prompt for camera access and shows video in the app, but is not publishing to the session.

The code is the same as the example:

[code]
I would appreciate your help! Thank you!

[2019-02-21 16:25] totiherms commented on #138
I'm having the same issue, can you tell me how you solved this? It was working with ios11, but now on ios12 seems broked.

Using the provided samples from opentok also is working on android but not in ios.

[2019-02-21 16:38] msach22 commented on #138
@totiherms Can you please share your code so we can see how you're setting the event listeners?

[2019-02-21 17:11] totiherms commented on #138
@msach22 the code:

`this.session = OT.initSession(this.api, this.sessionId);

        this.session.connect(this.token, () => {
            this.showMessage("Conectado correctamente");
            this.connected = true;
            this.infoStr = "Espere al interlocutor";

            this.publisher = OT.initPublisher('publisher', (error) => {
              if (error) {
                let alert =

[2019-02-21 17:16] totiherms commented on #138
can also be related to: https://github.com/opentok/opentok-ionic-samples/issues/30

[2019-02-21 17:19] msach22 commented on #159
@Shtibel Just following up on this. Can you please share the code that you're using when setting these event listeners? Are you overriding the subscriber or do you have a collection of subscribers with these event listeners set?

[2019-02-21 17:29] msach22 commented on #138
@totiherms Thanks for sharing. I just ran some code and was able to publish without any issues. Here's what I recommend:

 - You publish when you receive the sessionConnected event

You can do it like so:
[code]
It looks like there's an issue that's been filed that's related to this:
https://github.com/opentok/opentok-ionic-samples/issues/31

[2019-02-21 17:58] msach22 commented on #157
@hash-bud Thanks for sharing the code. I think the following comment should fix your issue. Please see:
https://github.com/opentok/cordova-plugin-opentok/issues/138#issuecomment-466090152

[2019-02-21 18:00] msach22 commented on #140
@Shtibel Thanks for sharing. It looks like you filed an issue here: https://github.com/opentok/cordova-plugin-opentok/issues/159

I'm happy to continue the discussion there.

[2019-02-21 18:09] msach22 commented on #154
This is a duplicate issue of: https://github.com/opentok/cordova-plugin-opentok/issues/128

[2019-02-21 18:09] #154 closed

[2019-02-21 21:43] msach22 commented on #157
I've updated the Ionic samples with the best practices. Please let me know if you have any questions!
https://github.com/opentok/opentok-ionic-samples/pull/33

[2019-02-21 21:43] #157 closed

[2019-02-22 06:05] Shtibel commented on #159
Hi @msach22
It happens on both

[2019-02-22 06:53] totiherms commented on #138
@msach22 thanks! it's working now

[2019-02-25 04:47] p-sebastian opened #161 "NSCameraUsageDescription Disable"
A way to entirely disable camera usage on plugin, since I use it for SIP interconnect, I just need the audio but I can't get it to not require the camera, as well as disable the creation of the view element for the video, which results in some ugly black boxes.

This is on both iOS/android. using latest cordova, plugin, and on ionic v3

[2019-03-10 10:14] Shtibel opened #162 "Incoming real call after session ended - phone is not ringing"
# Bug Report

**Testing platform**

**Current behavior**

**Steps to reproduce**

**Example Project**

**What is the current *bug* behavior?**

**What is the expected *correct* behavior?**

**Relevant logs and/or screenshots**

[2019-03-11 11:57] Shtibel opened #163 "Audio volume is very low in IOS - audioVolume not supported"
**Testing platform**

**Current behavior**

**Steps to reproduce**

**Example Project**

**What is the current *bug* behavior?**

`   audioBitrate: 128000,
   audioVolume:100`
But it is not helping.

**What is the expected *correct* behavior?**

[https://tokbox.com/developer/guides/audio-video/js/#subscriber_audio_level](https://tokbox.com/developer/guides/audio-video/js/#subscriber_audio_level)

[2019-03-11 23:04] bijanmmarkes commented on #128
Hello @msach22, Any updates on this, It is critical for our company to overlay HTML over the publisher and subscriber video. If any help is needed I would be happy to contribute to your branch.

Kind Regards

[2019-03-19 00:59] bijanmmarkes opened #164 "UI on top of stream not clickable - blocked by OT div"
# Bug Report

**Current behavior**

**What is the current *bug* behavior?**

**What is the expected *correct* behavior?**

[2019-03-19 13:21] bijanmmarkes commented on #108
@rafialikhan Are you able to have clickable html over the video using this repository? Could you share some sample code?

[2019-03-20 09:17] alaghusun60 commented on #160
@msach22 any solution for this issue

[2019-03-20 14:13] msach22 commented on #160
@alaghusun60 I have a fix locally for this where the permissions are requested when the `initPublisher` is called and not when `publish` is called.

[2019-03-24 02:09] juniordevs commented on #138
You guy save my life.
Thank you @msach22

[2019-03-24 22:57] videmort opened #165 "Cordova 9 fail install"
Cordova plugin add -->
Using "requireCordovaModule" to load non-cordova module "q" is not supported. Instead, add this module to your dependencies and use regular "require" to load it.

[2019-03-25 15:01] videmort commented on #165
--> https://github.com/apache/cordova/issues/85

[2019-03-26 01:00] msach22 commented on #138
Happy to help @juniordevs

[2019-03-27 15:35] msach22 commented on #162
@Shtibel Apologies for the delay on this - thanks for filing this issue. I have a couple of quick questions. Is this happening with the latest cordova plugin version (3.4.3 using OpenTok Android 2.15.3)? Are you able to reproduce this with all devices or is this specifically for a device type?

[2019-03-27 16:00] msach22 commented on #162
@Shtibel I believe it's device specific because I just ran the Basic Video Chat on a OnePlus 6T with Android 28 and wasn't able to reproduce this issue.

[2019-03-27 17:19] Shtibel commented on #162
Hi @msach22
this is happening with the: 3.4.2 plugin version
On an LG V10 with: android 6.0

p.s.
we are not able to run our application with the 3.4.3 version at all...

[2019-03-27 18:38] msach22 commented on #162
@Shtibel Hmm, thanks for sharing. I'll run it on Android 6 and update you. Could you please share why you're unable to run 3.4.3?

[2019-03-29 12:25] zaggaz commented on #164
Hi @bijanmmarkes, I'd like to overlay UI buttons over a full screen publisher/subscriber. I can't even get the buttons to show, did you get anywhere with this?

[2019-03-29 12:27] zaggaz commented on #86
Is this still going on?

[2019-04-02 22:35] bijanmmarkes commented on #164
Hey @zaggaz, Sorry I gave up on this plugin and company, I have been trying to get Opentok working for years on and off, their plugins aren't up to par for this platform. I have decided not to go forward with Opentok, and instead decided to create my own plugins to stream using HLS / RTMP protocols. Even with the z-index, you will still be unable to click any of the UI components as their Opentok

[2019-04-24 01:35] voxiel commented on #74
Hello! I have this problem too. I'm using voice only calls and I really need this feature. @amatakasap  link is not working now, I get 404. Is there any workaround for this? thank you!

[2019-04-24 03:13] amatakasap commented on #74
I succeeded in calling the method by correcting the latest version.

https://github.com/terikon/cordova-plugin-photo-library/pull/165

[2019-04-24 03:16] voxiel commented on #74
Bro, what are you talking about?

[2019-04-25 02:11] amatakasap commented on #74
I'm sorry. I was writing to a different issue.

[2019-04-25 02:32] amatakasap commented on #74
The correct link is here.
https://github.com/amatakasap/cordova-plugin-opentok

I use this fork along with cordova-plugin-audiotoggle to make audio-only calls.

Step 1. Specify Type
[code]

Step 2. Switch the speaker
[code]

Step 3. Replace the speakers (if necessary)
[code]

try it.

[2019-04-25 04:26] voxiel commented on #74
I'll give it a shot! Thank you!

[2019-04-29 16:24] msach22 commented on #161
@p-sebastian If you do not want to initialize the camera at all, please set the `videoSource` property of `initPublisher` to false:
https://github.com/opentok/cordova-plugin-opentok/blob/master/docs/ot.md#initPublisher

This will not prompt the user for the Camera permissions.

[2019-04-29 16:24] #161 closed

[2019-04-30 20:29] gutierre69 commented on #160
Hi, found a simple solution
change this: <script type="text/javascript" charset="utf-8" src="opentok.js"></script>
for this: <script src="https://static.opentok.com/v2/js/opentok.min.js"></script>

[2019-04-30 20:53] msach22 commented on #160
@gutierre69 using the CDN link would mean that you're using the OpenTok JS SDK and not the Cordova plugin.

[2019-05-01 22:17] kerloom commented on #160
Could you please share the local fix code?

[2019-05-03 08:48] mmubasher commented on #165
run `npm install` after running cordova plugin add command @videmort

[2019-05-15 10:55] GuillermoLovotrico commented on #165
Same problem. Only for iOS
«Installing "cordova-plugin-opentok" for ios
Failed to install 'cordova-plugin-opentok': CordovaError: Using "requireCordovaModule" to load non-cordova module "q" is not supported. Instead, add this module to your dependencies and use regular "require" to load it."»

[2019-05-23 02:13] kerloom commented on #160
@msach22 Do you have any update?

Thanks!

[2019-05-27 13:59] bimix commented on #128
How did you implement it to work? I removed the old plugin and installed this pull request but it doesn't build, I don't know what should I change in my code.

[2019-06-09 17:15] eccdev opened #167 "NSURL -1100 Error"
Hi,

I have a full fledged Opentok Cordova app that has been in use since 2015. I decided to try upgrading it to the latest version of the Cordova plugin, but wound up with an NSURL error as soon as the actual video chat page was reached after the logon and appointment selection page. To see whether the problem was with my code, I pulled down the sample app, and wound up with the same error.
Here'

[2019-06-13 12:03] ufuksuu commented on #163
Can you publish the video on iOS?

[2019-06-13 12:36] ufuksuu opened #168 "Incompatible Browser on IOS and getUserMedia error"
I have an error on iOS when I tried to publish my video. I have followed each step in the Running the Application section for iOS.It s working on Safari when I tried ionic serve.But on iPhone
![1206177 RVpeMd 42dc0985-81ba-45e5-ae1b-768ebd1ccaf9](https://user-images.githubusercontent.com/43231355/59432847-eda21280-8df0-11e9-9958-2d55cb389511.png)
and I saw a couple of errors on console.
![Ekran Re

[2019-06-13 14:27] Shtibel commented on #163
Hi @ufuksuu
Yes works on ios

[2019-06-13 14:32] ufuksuu commented on #163
i have an application and if I try to publish video I will get an error like getUserMedia not found can you give me an advice for this
![Ekran Resmi 2019-06-13 10 42 48](https://user-images.githubusercontent.com/43231355/59441406-35309a80-8e01-11e9-8571-fa148067a978.png)
![36440023-4883e506-1634-11e8-8d31-fbb398bca384](https://user-images.githubusercontent.com/43231355/59441420-3bbf1200-8e01-11e9-

[2019-06-13 15:06] Shtibel commented on #163
You **can't** use `<script src="https://static.opentok.com/v2/js/opentok.min.js"></script>` in IOS because it does not have supported browser...

Only use: `<script type="text/javascript" charset="utf-8" src="opentok.js"></script>`

See the documentation: https://github.com/opentok/cordova-plugin-opentok#getting-started-on-your-project

[2019-06-14 10:50] ufuksuu commented on #163
I tried to use that but nothing was changed. Are you using cordova-plugin-iosrtc ?

[2019-06-15 01:44] netronicus opened #169 "App craches on start stream"
Device: Huawei P30 pro
Android: 9
Also crashes on emulator
this is the log i get:

A/o.ionic.starte: java_vm_ext.cc:542] JNI DETECTED ERROR IN APPLICATION: use of invalid jobject 0x5dc
    java_vm_ext.cc:542] "Thread-17" prio=5 tid=47 Runnable
A/o.ionic.starte: java_vm_ext.cc:542]   | group="main" sCount=0 dsCount=0 flags=0 obj=0x13580000 self=0x775d6d0400
    java_vm_ext.cc:542]   | sysTid=3208 n

[2019-07-01 10:57] mmubasher opened #170 "Publishing fails without error on previously running code"
# Bug Report

**Current behavior**

**Example Project**

**Steps to reproduce**

**What is the current *bug* behavior?**

**What is the expected *correct* behavior?**

**Relevant logs and/or screenshots**
Following is the current log. Also, there is no opentok related network log of this cordova application's webview

# Network log
![image](https://user-images.githubusercontent.com/13465943/604311

[2019-07-01 11:02] mmubasher commented on #170
@msach22 can you please have a look into this or if encountered this issue at some point? I have this application running in production environment

[2019-07-04 07:22] mmubasher commented on #170
I have found that by adding a timeout on publish method in opentok.js, publishing starts successfully. So I guess there is some delay in connection to the opentok platform
@msach22

[2019-07-30 13:39] wolfenrain commented on #170
We were also having this problem when I was trying to update our own fork of this plugin with the current master.

This is happening because of the fix for https://github.com/opentok/cordova-plugin-opentok/issues/107.

This [fix](https://github.com/opentok/cordova-plugin-opentok/pull/145/files#diff-401eae6a73c38d1832f9c60737c56a15R594) does not wait for the `sessionConnected` event. Instead it cal

[2019-07-31 09:26] tusharvikky commented on #165
Any update on this? Cannot even get it installed.

[2019-07-31 09:58] mmubasher commented on #165
Have you installed npm modules before cordova build using `npm install`? also is your environment as per following
<table><thead>
<tr>
<th>cordova-android Version</th>
<th>Supported Android API-Levels</th>
<th>Equivalent Android Version</th>
</tr>
</thead><tbody>
<tr>
<td>8.X.X</td>
<td>19 - 28</td>
<td>4.4 - 9.0.0</td>
</tr>
<tr>
<td>7.X.X</td>
<td>19 - 27</td>
<td>4.4 - 8.1</td>
</tr>
<tr>
<td>6

[2019-07-31 22:49] tusharvikky commented on #165
Yes, I tried ionic repair and then installed the plugin. Any recommendation would be great!

[2019-08-01 00:32] WakeUpMrWest opened #172 "Android audio profile remains 'In-Call' after Session disconnect"
I've found that on my Android implementation of this plugin that after leaving a Session, the audio profile on my device remains in 'In-Call' mode, and pressing the physical volume buttons continue to adjust 'In-Call Volume'. This persists at least until the app is force closed, and in some cases will even remain until the device is restarted. I've tested this on a variety of devices, such as the

[2019-08-01 05:50] abishekrishnan opened #173 "iOS video always goes Fullscreen"
If video is subscribed it should be displayed inline (Within DOM) but instead it always goes Fullscreen / pop up view also if video and screen share are both subscribed to simultaneously the iOS app crashes
![image](https://user-images.githubusercontent.com/31683090/62268722-5fd8c000-b44e-11e9-9cb9-33aff7f67524.png)

[2019-08-02 12:14] mmubasher commented on #165
Please mention your `ionic info` output in project directory @tusharvikky

[2019-08-02 15:22] tusharvikky commented on #165
@mmubasher Here. I was able to get it running on Android. However, iOS is still hard to debug. All I see is a white screen.

`➜ ionic info

Ionic:

   Ionic CLI                     : 5.2.2 (/Users/tushardeo/.nvm/versions/node/v10.10.0/lib/node_modules/ionic)
   Ionic Framework               : @ionic/angular 4.4.2
   @angular-devkit/build-angular : 0.13.9
   @angular-devkit/schematics    : 7.3.9

[2019-08-02 22:44] msach22 commented on #160
Sorry folks, I'm not longer maintaining this project at this time so I'm unable to help here.

[2019-08-05 18:33] mmubasher commented on #165
have you tried `ionic cordova build ios` after removing folders `platform` and `plugins`

[2019-08-05 19:35] tusharvikky commented on #165
Yes. I have also tried out.

![image](https://user-images.githubusercontent.com/1810991/62490167-49cc5600-b7e6-11e9-902c-7e10d1f58d30.png)

[2019-08-23 19:25] levidavidmurray commented on #165
Only solution that worked for me was rolling Cordova back to version 8.1.2

`yarn global add cordova@8.1.2` or `npm install -g cordova@8.1.2`

[2019-09-15 12:38] dopplerDistortion commented on #165
Pull request sent for Cordova 9 fixes

[2019-10-03 07:03] KasunGamage commented on #128
any update on this? Is this the repository are u using https://github.com/talkspiritlab/cordova-plugin-opentok? any how is this repo fix the z-index issue in ios?.

[2019-10-23 14:40] abhilashbr92 commented on #168
@ufuksuu  Even i have the same error. Did you find any solution?

[2019-11-02 13:44] phiferd commented on #164
I'm running into this issue as well.  Posted a question to stack exchange to see if anyone has a solution (https://stackoverflow.com/questions/58671359/html-elements-positioned-over-opentok-video-not-clickable), but thought I would ping this issue as well.

Can anyone at least help me understand what the issue is?  It seems odd that the HTML controls are shown on top, but somehow the events are pr

[2019-11-02 15:09] phiferd commented on #168
That happened to me when I tried to use the JS plugin (for web) rather than the cordova plugin's js file. The cordova plugin will put a new .js file in the www directory of your app, so you should include a line like this:

[code]

Note that the include references a javascript file that doesn't exist until the project is built for iOS.

If you want to be able to develop in the browser, you either

[2019-11-02 15:20] phiferd commented on #164
Is this a duplicate of #128 ? If so, maybe we should close this issue and keep the conversation there.

[2019-11-02 15:24] phiferd commented on #164
Sorry for the spam, but I wanted to post here the the changes in https://github.com/talkspiritlab/cordova-plugin-opentok resolved this issue for me.  I am a bit concerned that I'm now on a branch that is probably not maintained, but happy to have something that seems to work.

[2019-11-02 15:30] phiferd commented on #128
I was able to get controls to overlay the native code (only tested on iOS so far) using https://github.com/talkspiritlab/cordova-plugin-opentok.

@msach22 Whey aren't these changes merged back into this repo? Is there some other issue with them?  I don't want to be on an unsupported/unofficial fork if I can avoid it.

@bimix
If you're seeing a black screen while using a negative z-index, you proba

[2019-11-19 18:03] tusharvikky opened #176 "Feature Request: add fitMode to properties in initPublisher"
# Feature Request

**Description**
Currently, the video if we have a dynamic height set height to 35%. The video is being cropped on the user end. However, correct video is been published to opentok/subscriber.

**Proposal**
fitMode: contain, etc will help video to be resized based on the available div height.

**Links / references**
Documentation: https://tokbox.com/developer/sdks/js/reference/OT

[2019-12-20 14:06] ColDrekken commented on #74
Hi @amatakasap is there a way to apply this feature also in this repo?

best regards

[2020-02-04 15:56] sahilvicesoftware opened #177 "Unable to Mute Subscriber Audio"
am trying to call - subscriber.setSubscribeToAudio(false)
and also tried
session.subscribe(event.stream, 'subscriber', {subscribeToAudio : false})

But none of them is working.
I basically want a Mute button for subscriber and i am using - https://github.com/opentok/cordova-plugin-opentok.

Also tried {subscribeToVideo : false} just to check but that too didn't work
I have attached a screenshot of

[2020-02-10 19:21] hamdiwanis opened #178 "Access denied finding property "vendor.camera.aux.packagelist""
plz can you help me, on android when i try to publish a video i get

`Access denied finding property "vendor.camera.aux.packagelist"
    Access denied finding property "vendor.camera.aux.packagelist2"`

thanks

[2020-02-22 10:49] #178 closed

[2020-02-28 12:25] ErxrilOwl commented on #128
It is 2020, any update on this?

[2020-03-12 20:26] alauga opened #179 "x86_64 architecture in Android it is not supported"
# Bug Report

**Current behavior**
x86_64 architecture in Android it is not supported despite opentok android sdk it is 2.15.3

**Steps to reproduce**
if you build an android apk or bundle it'll not compatible with this architecture

**Relevant logs and/or screenshots**
![Screenshot from 2020-03-06 13-08-29](https://user-images.githubusercontent.com/62117478/76563646-91a31200-6486-11ea-9507-489ee0

[2020-03-13 20:58] #179 closed

[2020-03-13 21:00] alauga commented on #179
It was my error. My app was accidentally instaling an old version ef the plugin called sos-cordova-plugin-opentok that use opentok android sdk it is 2.13.

[2020-03-28 15:29] lqrz opened #180 "Error at Ionic (iOS) plugin installation: Using "requireCordovaModule" not supported"
When installing the plugin in Ionic3, via running `ionic cordova plugin add cordova-plugin-opentok` I get the following error for iOS:
[code]

Here the full log:
[code]

I fixed it by manually editing the file `plugins/cordova-plugin-opentok/scripts/downloadiOSSDK.js` but this shouldn't be the way to go about it:
[code]

--------
My `ionic info`:
[code]

[2020-04-01 12:39] mozhn commented on #128
Unfortunately.

[2020-04-08 16:21] simmunoz commented on #180
Alguna novedad?

[2020-04-10 15:45] cardo961 commented on #128
Hi there? Been fighting up with this issue for some time now. Is there any update on this?

[2020-04-10 15:55] msach22 commented on #128
HI all,

We are not currently maintaining this plugin so I don't have any update on this.

[2020-04-14 07:23] mozhn commented on #128
Hi, what are you using?

[2020-04-20 10:11] kazuyaseki opened #181 "Include iOS build frameworks instead of using cordova hook"
# Feature Request

**Description**

I'm currently using Capacitor + ionic + React and would like to use cordova-plugin-opentok to run opentok in my application.

since `@ionic/react` does not let you use cordova plugin, I have to follow this Capacitor instruction.
https://capacitor.ionicframework.com/docs/cordova/using-cordova-plugins/

but when I  run `npx cap sync`, it throws an error

[code]

I

[2020-04-27 08:39] simplenetworks commented on #128
What should Ionic developers use?

[2020-05-04 17:48] vitonimal commented on #181
I am having the same issue. I am unable to use OpenTok using capacitor. I am working on a workaround since I have a POC to hand back soon:

- I manually downloaded the OpenTok.framework from their AWS: https://s3.amazonaws.com/artifact.tokbox.com/rel/ios-sdk/OpenTok-iOS-2.15.3.tar.bz2

- I copied it to node_modules/cordova-plugin-opentok/src/ios

- I ran npx cap sync

However, I am now getting thi

[2020-05-14 15:55] adeshpandey commented on #178
Hi @hamdiwanis did you find any solution for this ? For me it is happening if app goes in pause mode then resumes again and not happening all the time it is happening randomly.

[2020-05-19 20:28] monica-santos commented on #172
@WakeUpMrWest did you found a way to fix this behaviour? I'm facing this same issue

[2020-05-22 12:35] ThiagoAllves opened #185 "iOS only - application crashes when attempting to reconnect the call"
Description:

I am currently using ionic + angular.

there is a line when I try to reconnect the iOS user to a call, this is the way:
I log in to the app and connect to a new call and close the app, then try to reconnect the same call (works perfectly on android), but on iOS the app is closed.

[2020-05-27 02:56] KyDenZ commented on #181
On my side it works well with capacitor 2.1, MacOS 10.15.4, pod 1.9.1, SDK Opentok 2.17.0

[2020-05-27 08:18] enricop89 commented on #181
Hi guys, do you mind testing https://github.com/opentok/cordova-plugin-opentok/pull/186?

[2020-05-27 12:29] vitonimal commented on #181
I will test it today! and update this post when I get a result. Thank you!

[2020-05-27 21:44] KyDenZ commented on #181
@enricop89 I tested, it works !

Thank you !

[2020-05-28 08:47] vikaskonsam commented on #176
I add my vote to this feature.
Please add fitMode: contain|cover support for subscriber|publisher.

[2020-06-05 02:59] habiba1997 commented on #128
Thank you it worked :D

[2020-06-05 15:46] vikaskonsam commented on #159
Yes, there is an issue. I have tested this on iOS and this is what I think the problem is. When there are more the 1 subscribers, the audioLevelUpdated handler for the **last** connected subscriber is always called even though the audio is coming from the first connected subscriber.

eg.
`this.subscriber.off('audioLevelUpdated').on('audioLevelUpdated', (event) => {
            if (movingAvg === nu

[2020-07-01 15:20] bleedingbulb commented on #128
@habiba1997 are these controls are clickable as well?

[2020-07-02 13:52] bleedingbulb commented on #180
We faced same issue, but we fixed it. Downgrade the cordova version from 9.0.0 to 8.0.1. Remove platform and add it again. It will fix this issue.

[2020-07-04 07:58] bleedingbulb commented on #180
We also implemented https://github.com/opentok/cordova-plugin-opentok/pull/187 but it gave one more error with cordova@9.0.0 Error during processing of action! Attempting to revert...
Failed to install 'cordova-plugin-opentok': CordovaError: Uh oh!
Cannot find framework

[2020-07-16 08:56] baqueroglenncarlo opened #189 "Session disconnect not firing"
`
var session = OT.initSession(this.key, this.sessionID);
var connection = this.connection

session.forceDisconnect(connection, function (error) {
		    	  if (error) {
		    	    console.log(error);
		    	  } else {
		    	    console.log("Connection forced to disconnect: ");
		    	  }
});
`

I try to add this in my button, but the forceDisconnect not working

[2020-07-22 03:30] baqueroglenncarlo opened #190 "Reference: Can't find variable OT in iOS Opentok Cordova"
![image](https://user-images.githubusercontent.com/29676419/88130571-7c48ac00-cc0d-11ea-8951-5dda89775709.png)

[2020-07-22 03:32] #189 closed

[2020-07-27 11:36] Jhonsensf commented on #180
I'm having the same issue. Is there any news?

[2020-08-21 07:39] sumansanohub opened #191 "Not able to publish audio video in ios"
Getting error during cordova plugin add cordova-plugin-opentok
Installing "cordova-plugin-opentok" for ios
Downloading OpenTok iOS SDK
downloaded
(node:5209) DeprecationWarning: exec: use child_process.execFile instead
expanded
moved OpenTok.framework into /Users/brahmaputra/Documents/Projects/Development/Patient/v1.8.0/sanoSense-Patient-iOS-v1.8.0/plugins/cordova-plugin-opentok/src/ios/
Removed e

[2020-08-26 11:44] abdec2 opened #192 "publisher.publishVideo() function is not working on Mobile Devices"
i have created an ionic application where i am using opentok api to implement video call. everything is working fine. i implement the functionality to turn On and Turn Off Camera by using publisher.publishVideo() function, the same way i implemented mute and unmute functionality of microphone by using publisher.publishAudio().

the problem is publishAudio() is working fine. but publishVideo() is w

[2020-08-28 13:22] rramosj2 commented on #192
How did you implement the publishAudio? I am trying this.publisher.setPublishAudio(false); but it does not seem to make any difference.

[2020-08-31 16:36] damianrejman commented on #86
It might help https://github.com/damianrejman/cordova-plugin-opentok/pull/1/commits/db1692b0e9859f8d3d5f95d51a05d2fe77fb1bc1

[2020-08-31 16:39] damianrejman commented on #128
It might help damianrejman@db1692b

[2020-09-01 05:22] simplelifeic commented on #192
Instead of this.publisher.setPublishAudio(false) you have to call this.publisher.publishAudio()

[2020-09-29 08:40] fpcuriosity opened #194 "z-index not respected"
I'm using the plugin to build an Ionic application with Cordova 9.

I'm having troubles getting the z-index set in the css to be respected. What it seems to me is that the last stream to connect to the session will always go on top of the other already existing streams.

My setup is very simple and I'm trying to have the publisher stream always on top of the subscriber stream. The code goes like t

[2020-10-10 16:48] manel-alonso opened #195 "iOS: Black screen on publisher The object is in an invalid state (cordova-ios 6.0.0)"
# Bug Report

**Current behavior**

**Steps to reproduce**

**Example Project**

**What is the current *bug* behavior?**

**What is the expected *correct* behavior?**

**Relevant logs and/or screenshots**

<img width="947" alt="Screenshot 2020-10-10 at 17 59 42" src="https://user-images.githubusercontent.com/40856027/95660524-c7959b00-0b28-11eb-9539-675ebe23a0be.png">

[Console-Log.txt](https://gi

[2020-10-19 21:19] sking-j2interactive opened #196 "OpenTok Android SDK update"
# Feature Request

**Description**
The current version of the OpenTok Android SDK referenced in this repo is 2.15.3 which is not supported by Vonage any longer.

**Proposal**
Please upgrade to version 2.18.1

**Links / references**
I've attached an email I got from Vonage Support regarding this.
[Vonage API Support support ticket #1530919: Cordova Android app is crashing after connecting to sessio

[2020-12-08 09:36] ramseyfeng commented on #181
@KyDenZ Can I ask how you successfully play the opentok with capacitor?

[2020-12-08 10:24] KyDenZ commented on #181
@ramseyfeng Apply the changes of #186 in custom repo or change url in package.json :
[code]

[2020-12-08 14:37] ramseyfeng commented on #181
@KyDenZ Many thanks! I'll try it later. 👍

[2021-01-19 02:19] ramseyfeng commented on #181
@KyDenZ I have tried your solution, it works fine on android devices, and it has some issue on iPhone device, it throws error like the below:

`[error] - %cOpenTok:Publisher:error %conStreamAvailableError OT_NOT_SUPPORTED: A constraint specified is not supported by the browser. (getUserMedia error: NotSupportedError)%c +0ms color: #CC3300 color: inherit color: #CC3300`

Do you have any experience

[2021-01-19 17:24] KyDenZ commented on #181
@ramseyfeng My app works with Android & IOS.

Before starting the session, I check if the Camera and Microphone are allowed with cordova diagnostic plugin.

[2021-01-20 01:22] ramseyfeng commented on #181
Hi @KyDenZ could you share more light on this?

Are you using this plugin? [https://github.com/dpa99c/cordova-diagnostic-plugin#iscamerapresent](https://github.com/dpa99c/cordova-diagnostic-plugin#iscamerapresent)

what if the camera and microphone are not allowed? how can we turn on both of them?

[2021-01-20 07:31] KyDenZ commented on #181
@ramseyfeng yes it’s this plugin.

To check if the camera and microphone is allowed, use isCameraAuthorized/isMicrophoneAuthorized.

if allowed, run the session, else use requestMicrophoneAuthorization/requestCameraAuthorization.

[2021-01-21 01:50] ramseyfeng commented on #181
@KyDenZ Thanks for continuous help! I'll try it.

[2021-03-07 04:02] #180 closed

[2021-03-07 04:03] michaeljolley commented on #180
This should be resolved by [https://github.com/opentok/cordova-plugin-opentok/pull/199](https://github.com/opentok/cordova-plugin-opentok/pull/199)

[2021-04-06 15:42] CaioMelo8 commented on #196
I wonder if this is why the app I'm currently developing has suddenly started failing delivering both video and audio from the subscriber stream.

The app, which is stuck at the 2.15.3 version of the Opentok client, connects to the stream created by a client website, which in turn uses the 2.18.x version There could be some incompatibility between those versions.
What's weird is that the issue doe

[2021-04-08 21:57] CaioMelo8 commented on #196
Yep, updating the SDK did the trick. In my case, I updated `@opentok/client` to 2.19.2 and native Android/iOS SDKs to 2.19.0.

 I'm sending a PR for this, it'd be really nice if it could be reviewed and merged.

[2021-07-05 09:58] vikaszool opened #205 "http://tokbox.bintray.com/maven has discontinued"
Getting build errors because Bintray has discontinued.
Tried using https://search.maven.org/artifact/com.opentok.android/opentok-android-sdk but unable to resolve the problem.

* What went wrong:
Could not resolve all files for configuration ':app:releaseCompileClasspath'.

  Required by:
      project :app > com.google.android.gms:play-services-analytics:15.0.2
      project :app > com.google.and

[2021-07-07 07:51] Haroon6138 commented on #205
@vikaszool i am also having the same issue, any workaround yet?

[2021-07-07 10:46] bleedingbulb commented on #205
I am also facing same issue, tried hard but still no luck.

[2021-07-07 11:02] ghost commented on #205
I have been working with tokbox, and now its not working at all. I have tried everything possible. Has anyone find out the solution?

[2021-07-07 11:18] vikaszool commented on #205
@Haroon6138 - No luck yet.
Will post here if I am able to resolve it.

However, if this is a viable option for you, this is what I am doing for now. Android does support WebRTC and tokbox's web SDK works on Android. But it has to be configured to use the VP8 codec as far as I know.

[2021-07-07 12:51] ghost commented on #205
We require tokbox. We are currently using it for 10 projects. We need a solution

[2021-07-07 13:14] bleedingbulb commented on #205
Finally it is fixed.
Let me first tell the problem.
in build-extras.gradle file there is URL
allprojects {
    repositories {
        jcenter()
        maven {
            url  "http://tokbox.bintray.com/maven"
        }
    }
}

somehow this url stop working  "http://tokbox.bintray.com/maven"

First of all I remove this and add repositories in build and all projects with something like this

[2021-07-07 13:23] bleedingbulb commented on #205
@isyedahmedali can you please try this solution.

[2021-07-07 16:12] ghost commented on #205
Thank You @bleedingbulb  Im trying. Will let you know if this works

[2021-07-08 08:06] Haroon6138 commented on #205
@isyedahmedali did you get it to work?

[2021-07-08 11:02] asadumair commented on #205
still issue exsists.

[2021-07-10 02:02] wwannous commented on #205
i have the same problem,
any success with any of you guys?

[2021-07-10 06:08] waseem414 commented on #205
I have same problem. Any one solve the issue.

[2021-07-12 07:04] jonshuttsnap40 commented on #205
I pulled down a copy the plugin, stored locally within the project, removed the old plugin (`cordova plugins remove cordova-plugin-opentok`), updated `cordova-plugin-opentok/build-extras.gradle` to

[code]

then added that plugin back to the project - `cordova plugins add ./cordova-plugin-opentok`

[2021-07-12 07:07] Haroon6138 commented on #205
@jonshuttsnap40 did this work for you? Were you able to build the project successfully?

[2021-07-12 07:09] jonshuttsnap40 commented on #205
hi - we're building the project in bitrise, and i'm just testing it again right now, but this worked for us last week yes

[2021-07-12 08:38] waseem414 commented on #205
@jonshuttsnap40 Its not working.

`
Could not find com.opentok.android.v3:opentok-android-sdk-v3:3.0.3.
     Searched in the following locations:
       - https://repo.maven.apache.org/maven2/com/opentok/android/v3/opentok-android-sdk-v3/3.0.3/opentok-android-sdk-v3-3.0.3.pom
       - https://dl.google.com/dl/android/maven2/com/opentok/android/v3/opentok-android-sdk-v3/3.0.3/opentok-android-sdk-v3

[2021-07-13 06:17] Haroon6138 commented on #205
@jonshuttsnap40 Did u test it?  Were you able to make it work?

[2021-07-21 17:21] vikaskonsam commented on #205
This is how I updated the "cordova-plugin-opentok/build-extras.gradle".
I have changed opentok-android-sdk:2.15.3 to opentok-android-sdk:2.20.1.

<pre>
allprojects {
    repositories {
        jcenter()
        mavenCentral()
    }
}

dependencies {
    implementation fileTree(dir: 'libs', include: ['*.jar'])
    implementation 'com.opentok.android:opentok-android-sdk:2.20.1'
} </pre>

Reference:

[2021-07-27 15:19] Haroon6138 commented on #205
@vikaskonsam Can you please outline the steps you took to resolve this? it would be a huge help to me. Awaiting your kind response.

[2021-07-27 15:39] vikaskonsam commented on #205
@Haroon6138 - I have highlighted the changes you need to do.
You can then run the build command. In my case it is "ionic cordova build android" (using cordova and ionic v3)

This is a quick fix. It is modifying the file available in the platform/android folder. You should also do the same in the plugins/cordova-plugin-opentok/build-extras.gradle file just in case you need to remove the android pla

[2021-07-27 16:04] Haroon6138 commented on #205
@vikaskonsam i got it to work, Thanks a lot!

[2021-08-31 17:37] mklipe commented on #181
Has anyone tested this solution with capacitor 3?

[2021-09-26 08:51] ramseyfeng commented on #128
Any update on this issue, it's 2021 September TT

[2021-09-29 03:16] ramseyfeng commented on #181
@mklipe Do you mean `"cordova-plugin-opentok": "git+https://github.com/enricop89/cordova-plugin-opentok.git#capacitor-support"`?
Yes, it can work, although it's very old.
@KyDenZ Are you still use this solution? Or do you have any better option?

[2021-09-29 18:32] KyDenZ commented on #181
@ramseyfeng The project where I was using opentok is currently without updates, it still works fine. I will have to switch to Capacitor 3 but I am disappointed with the Opentok teams who do not validate the pull-requests !

[2021-10-04 08:30] ramseyfeng commented on #181
@KyDenZ Thanks for the information!
Let me confirm, you directly use the latest community plugin: [https://github.com/opentok/cordova-plugin-opentok/](https://github.com/opentok/cordova-plugin-opentok/) with Capacitor 3, and it works well.
am I understanding correct?

BTW, which PR you are mentioned? Maybe i can contact the opentok team to have a look, because we have purchase an enterprise licens

[2021-12-09 17:34] CaioMelo8 commented on #205
Much appreciated, @vikaskonsam! I've applied the fix locally and it worked. The only difference is that I kept the SDK version at 2.19.0 and it worked just fine, but I that's probably a minor detail.

I guess the plugin needs to be updated with this fix or else it'll remain in a unusable state.

[2021-12-22 15:08] asaf-interator opened #211 "App crash on Android sessionDisconnected"
# Bug Report

**Current behavior**
App crash on Android sessionDisconnected

**Steps to reproduce**

**What is the current *bug* behavior?**
We're able to have a video call between two devices and when one of the devices ends the call the app crash sometimes on Android devices

**What is the expected *correct* behavior?**
Call is disconnected and app continue to work normally

**Relevant logs and/

[2022-02-21 12:56] mishraabinash729 commented on #211
I also got the same above error

Solution
----------------------
Try to use below plugin

`cordova plugin remove cordova-plugin-opentok`

`cordova plugin add napa-cordova-plugin-opentok`

It'll resolve the issue

[2022-02-22 11:50] asaf-interator commented on #211
@mishraabinash729 Hi,
Thanks, but unfortunately it doesn't really work, after installing napa-cordova-plugin-opentok and updating opentok-android-sdk, the app crashes immediately on launch

[2022-02-22 15:33] asaf-interator commented on #211
@mishraabinash729 Hi, thanks, but I still have the issue after installing napa-cordova-plugin-opentok

[2022-03-23 11:59] smanojarun opened #212 "Unified plan upgrade for opentok Plugin library"
# Feature Request
Upgrade the native SDK to 2.18 or 2.19 to support unified plan upgrade

**Description**
Hello Team ,

Last release of cordova opentok plugin does have the support of native SDK 2.15.3. But we would be required to upgrade the unified-plan and that supports from native sdk of 2.18 , 2.19.

Reference link - https://support.tokbox.com/hc/en-us/articles/4402056584852-Vonage-Video-API-

[2022-03-30 09:43] asadumair opened #213 "ask for camera and microphone permissions every time when we initialize the publisher in ios"
please help me it should ask only one time but it asking for every time .

[2022-08-12 12:02] mend-for-github-com[bot] opened #215 "tar-2.2.1.tgz: 10 vulnerabilities (highest severity is: 9.8)"
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>tar-2.2.1.tgz</b></p></summary>

<p>tar for node</p>
<p>Library home page: <a href="https://registry.npmjs.org/tar/-/tar-2.2.1.tgz">https://registry.npmjs.org/tar/-/tar-2.2.1.tgz</a></p>
<p>Path to dependency file: /package.json</p>
<p>Path to vul